@font-face {
  font-family: 'icon-coaatm';
  src:  url('fonts/icon-coaatm.eot?icqg0t');
  src:  url('fonts/icon-coaatm.eot?icqg0t#iefix') format('embedded-opentype'),
    url('fonts/icon-coaatm.ttf?icqg0t') format('truetype'),
    url('fonts/icon-coaatm.woff?icqg0t') format('woff'),
    url('fonts/icon-coaatm.svg?icqg0t#icon-coaatm') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-coaatm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alerta:before {
  content: "\e901";
}
.icon-alhambra:before {
  content: "\e902";
}
.icon-aparejador:before {
  content: "\e903";
}
.icon-apartmentos:before {
  content: "\e904";
}
.icon-aprendizaje-en-linea:before {
  content: "\e905";
}
.icon-aqueducto:before {
  content: "\e906";
}
.icon-arquiterctura_cotas:before {
  content: "\e907";
}
.icon-atencion_cliente01:before {
  content: "\e908";
}
.icon-balanza-ley:before {
  content: "\e909";
}
.icon-bandera:before {
  content: "\e90a";
}
.icon-birrete:before {
  content: "\e90b";
}
.icon-botiquin:before {
  content: "\e90c";
}
.icon-businessman01:before {
  content: "\e90d";
}
.icon-businessman02:before {
  content: "\e90e";
}
.icon-businesswoman:before {
  content: "\e90f";
}
.icon-caballo_ajedrez:before {
  content: "\e910";
}
.icon-calculadora:before {
  content: "\e911";
}
.icon-calculadora02:before {
  content: "\e912";
}
.icon-calendar_reloj:before {
  content: "\e913";
}
.icon-calendar-check:before {
  content: "\e914";
}
.icon-calendario:before {
  content: "\e915";
}
.icon-camera:before {
  content: "\e916";
}
.icon-camera-diafragma:before {
  content: "\e917";
}
.icon-campana:before {
  content: "\e918";
}
.icon-casa_enchufe:before {
  content: "\e919";
}
.icon-casa_seguro:before {
  content: "\e91a";
}
.icon-certificado:before {
  content: "\e91b";
}
.icon-ciudad:before {
  content: "\e91c";
}
.icon-coche:before {
  content: "\e91d";
}
.icon-compas_aparejadores:before {
  content: "\e91e";
}
.icon-compass:before {
  content: "\e91f";
}
.icon-compass-limbo:before {
  content: "\e920";
}
.icon-config:before {
  content: "\e921";
}
.icon-cono_obra:before {
  content: "\e922";
}
.icon-contrato_casa:before {
  content: "\e923";
}
.icon-contrato_casa02:before {
  content: "\e924";
}
.icon-cristal_nieve:before {
  content: "\e925";
}
.icon-descargar-libros:before {
  content: "\e926";
}
.icon-device-connected:before {
  content: "\e927";
}
.icon-device-connected-1:before {
  content: "\e928";
}
.icon-discapacitado:before {
  content: "\e929";
}
.icon-edificio:before {
  content: "\e92a";
}
.icon-email:before {
  content: "\e92b";
}
.icon-estadisticas:before {
  content: "\e92c";
}
.icon-etiqueta:before {
  content: "\e92d";
}
.icon-etiquetas:before {
  content: "\e92e";
}
.icon-euro:before {
  content: "\e92f";
}
.icon-euro-condiciones:before {
  content: "\e930";
}
.icon-examen:before {
  content: "\e931";
}
.icon-ficha_hombre:before {
  content: "\e932";
}
.icon-ficha_mujer:before {
  content: "\e933";
}
.icon-first-place:before {
  content: "\e934";
}
.icon-formacion-presencial:before {
  content: "\e935";
}
.icon-geolocalization:before {
  content: "\e936";
}
.icon-globe:before {
  content: "\e937";
}
.icon-gps_situacion:before {
  content: "\e938";
}
.icon-grupo:before {
  content: "\e939";
}
.icon-hombre_corbata:before {
  content: "\e93a";
}
.icon-home:before {
  content: "\e93b";
}
.icon-house-plan:before {
  content: "\e93c";
}
.icon-ico_registros-formacion:before {
  content: "\e93d";
}
.icon-icon:before {
  content: "\e93e";
}
.icon-id-card-1:before {
  content: "\e93f";
}
.icon-id-card-2:before {
  content: "\e940";
}
.icon-indicadores_carretera:before {
  content: "\e941";
}
.icon-info:before {
  content: "\e942";
}
.icon-job-search-symbol-of-a-hand-holding-cv:before {
  content: "\e943";
}
.icon-lab:before {
  content: "\e944";
}
.icon-lecturer-with-screen:before {
  content: "\e945";
}
.icon-libro:before {
  content: "\e946";
}
.icon-libro02:before {
  content: "\e947";
}
.icon-llama:before {
  content: "\e948";
}
.icon-llama02:before {
  content: "\e949";
}
.icon-llave:before {
  content: "\e94a";
}
.icon-llave02:before {
  content: "\e94b";
}
.icon-lock:before {
  content: "\e94c";
}
.icon-login:before {
  content: "\e94d";
}
.icon-lupa01:before {
  content: "\e94e";
}
.icon-magnet:before {
  content: "\e94f";
}
.icon-mano_bombilla:before {
  content: "\e950";
}
.icon-mazo-ley:before {
  content: "\e951";
}
.icon-medal:before {
  content: "\e952";
}
.icon-microfono:before {
  content: "\e953";
}
.icon-microfono_silencio:before {
  content: "\e954";
}
.icon-microscopio:before {
  content: "\e955";
}
.icon-movil_hombre:before {
  content: "\e956";
}
.icon-movil_mujer:before {
  content: "\e957";
}
.icon-movil01:before {
  content: "\e958";
}
.icon-movil02:before {
  content: "\e959";
}
.icon-mundo:before {
  content: "\e95a";
}
.icon-nube:before {
  content: "\e95b";
}
.icon-nube_check:before {
  content: "\e95c";
}
.icon-nube_down:before {
  content: "\e95d";
}
.icon-nube_up:before {
  content: "\e95e";
}
.icon-panel_solar:before {
  content: "\e95f";
}
.icon-paper-plane:before {
  content: "\e960";
}
.icon-prismaticos:before {
  content: "\e961";
}
.icon-puzzle:before {
  content: "\e962";
}
.icon-puzzle-piece:before {
  content: "\e963";
}
.icon-radio-control:before {
  content: "\e964";
}
.icon-reloj:before {
  content: "\e965";
}
.icon-reloj_arena:before {
  content: "\e966";
}
.icon-search:before {
  content: "\e967";
}
.icon-security-camera:before {
  content: "\e968";
}
.icon-segovia:before {
  content: "\e969";
}
.icon-sello:before {
  content: "\e96a";
}
.icon-semadoro:before {
  content: "\e96b";
}
.icon-settings:before {
  content: "\e96c";
}
.icon-siluetas_hombre_mujer:before {
  content: "\e96d";
}
.icon-speech:before {
  content: "\e96e";
}
.icon-tablet:before {
  content: "\e96f";
}
.icon-telescopio:before {
  content: "\e970";
}
.icon-unlocked:before {
  content: "\e971";
}
.icon-verification-list:before {
  content: "\e972";
}
.icon-walkie_talkie:before {
  content: "\e973";
}
.icon-biblioteca:before {
  content: "\e974";
}
.icon-aislamiento:before {
  content: "\e975";
}
.icon-articulo_pdf:before {
  content: "\e976";
}
.icon-articulo_tecnico:before {
  content: "\e977";
}
.icon-buzon_consultas:before {
  content: "\e978";
}
.icon-calidad_europea:before {
  content: "\e979";
}
.icon-carpinteria:before {
  content: "\e97a";
}
.icon-casco_obra:before {
  content: "\e97b";
}
.icon-cimentacion:before {
  content: "\e97c";
}
.icon-comunidad_madrid:before {
  content: "\e97d";
}
.icon-cubiertas:before {
  content: "\e97e";
}
.icon-decision-making:before {
  content: "\e97f";
}
.icon-documento_adicional:before {
  content: "\e980";
}
.icon-documento_basico:before {
  content: "\e981";
}
.icon-documento_calidad:before {
  content: "\e982";
}
.icon-documento_loe:before {
  content: "\e983";
}
.icon-documento_tecnico_aux:before {
  content: "\e984";
}
.icon-estatal:before {
  content: "\e985";
}
.icon-grua:before {
  content: "\e986";
}
.icon-herramienta_apoyo:before {
  content: "\e987";
}
.icon-hormigon:before {
  content: "\e988";
}
.icon-info_docu:before {
  content: "\e989";
}
.icon-info_empresas:before {
  content: "\e98a";
}
.icon-info_tecnica:before {
  content: "\e98b";
}
.icon-ladrillos:before {
  content: "\e98c";
}
.icon-llave_inglesa:before {
  content: "\e98d";
}
.icon-medio_ambiente:before {
  content: "\e992";
}
.icon-normativa_docu:before {
  content: "\e993";
}
.icon-paleta:before {
  content: "\e994";
}
.icon-portfolio:before {
  content: "\e995";
}
.icon-prevencion_incendios:before {
  content: "\e996";
}
.icon-sede:before {
  content: "\e997";
}
.icon-servicios:before {
  content: "\e998";
}
.icon-subvencion:before {
  content: "\e999";
}
.icon-urbanismo:before {
  content: "\e99a";
}
.icon-aeropuerto:before {
  content: "\e900";
}
.icon-madrid:before {
  content: "\e98e";
}
