	$velocityPortletPreferences.setValue("portletSetupShowBorders", "false")			
	$velocityPortletPreferences.setValue("portletSetupUseCustomTitle", "true")
	$velocityPortletPreferences.setValue("displayScopeFacet", "false")
	#set($layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))
	#set($layoutBuscador = $layoutLocalService.getFriendlyURLLayout($group_id, $layout.isPrivateLayout(), "/busqueda"))
	#if ($layoutBuscador)
		$velocityPortletPreferences.setValue("portletSetupLinkToLayoutUuid", $layoutBuscador.getUuid())
	#end							
	##$velocityPortletPreferences.setValue("portletSetupLinkToLayoutUuid", "d3dc716c-16f9-4eab-b3b1-0cd9ae0235da")
	<label for="_3_keywords" class="hide">Buscar</label>
	<!-- <label for="_3_groupId" class="hide">ámbito</label> -->
	$theme.runtime("3", "", $velocityPortletPreferences.toString())
	$velocityPortletPreferences.reset()