<nav class="$nav_css_class" id="navigation-footer" role="navigation">
	<div id="menu_completo">
		<ul class="menu_publico" aria-label="#language ("site-pages")" role="menu">  <!--  navbar-nav mr-auto mt-2 mt-md-0 -->
			#foreach ($nav_item in $nav_items)
				#set ($nav_item_attr_has_popup="")
				#set ($nav_item_attr_selected="")
				#set ($nav_item_caret="")
				#set ($nav_item_css_class = "")
				#if ($nav_item.isSelected())
					#set ($nav_item_attr_selected="aria-selected='true'")
					#set ($nav_item_css_class = "selected")
				#end
				#if ($nav_item.hasChildren())
					#set ($nav_item_attr_has_popup="aria-haspopup='true'")
					#set ($nav_item_caret='<span class="icon-caret-down"></span>')
				#end
				#if ($nav_item.getName()=="Zona Privada")
					<li class="nav-item $nav_item_css_class hidden" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="option">
                        Zona Privada
                #else
                	<li>
                		#if ($nav_item.getLayoutId() == "3")
							<h3><span class="light">EL</span>COLEGIO</h3>
						#end
	                	#if ($nav_item.getLayoutId() == "40")
							<h3>FORMACIÓN <span class="light">Y</span>CULTURA</h3>
						#end
		                #if ($nav_item.getLayoutId() == "7")
							<h3><span class="light">ARCHIVO</span>DOCUMENTAL</h3>
						#end
		                #if ($nav_item.getLayoutId() == "2")
							<h3>SERVICIOS</h3>
						#end
		                #if ($nav_item.getLayoutId() == "11")
							<h3><span class="light">ORIENTACIÓN</span>PROFESIONAL</h3>
						#end
		                #if ($nav_item.getLayoutId() == "20")
							<h3><span class="light">GABINETE</span>PRENSA</h3>
						#end
				#end
				
				#if ($nav_item.hasChildren())
					<ul>
						#foreach ($nav_child in $nav_item.getChildren())
							#set ($nav_child_attr_selected="")
							#set ($nav_child_caret="")
							#set ($nav_child_css_class = "false")

							#if ($nav_child.isSelected())
								#set ($nav_child_attr_selected="aria-selected='true'")
								#set ($nav_child_css_class = "selected")
							#end
							#if ($nav_child.hasChildren())
								#set ($nav_child_caret='<span class="icon-caret-down"></span>')
							#end
							<li class="$nav_child_css_class" id="layout_$nav_child.getLayoutId()" $nav_child_attr_selected role="option">
								<a aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">$nav_child.getName()</a>
							</li>
						#end  
					</ul>
				#end
				</li>
			#end
		</ul>
	    #if ($is_signed_in)
		#*<ul class="menu_colegiados">
			#foreach ($nav_item in $nav_items)
				
				#if ($nav_item.getName()=="Zona Privada")
				
					#foreach ($nav_child1 in $nav_item.getChildren())
						#set ($nav_child1_attr_selected="")
						#set ($nav_child1_caret="")
						#set ($nav_child1_css_class = "false")
						#if ($nav_child1.isSelected())
							#set ($nav_child1_attr_selected="aria-selected='true'")
							#set ($nav_child1_css_class = "selected")
						#end
						#if ($nav_child1.hasChildren())
							#set ($nav_child1_caret='<span class="icon-caret-down"></span>')
						#end
						<li>
			                #if ($nav_child1.getLayoutId() == "66")
								<h3><span class="light">SERVICIOS</span>JURÍDICOS</h3>
							#end							
		                	#if ($nav_child1.getLayoutId() == "67")
								<h3><span class="light">GABINETE</span>TÉCNICO</h3>
							#end			
			                #if ($nav_child1.getLayoutId() == "65")
								<h3><span class="light">GABINETE</span>TÉCNICO</h3>
							#end							
			                #if ($nav_child1.getLayoutId() == "68")
								<h3>VISADOS</h3>
							#end							
						#if ($nav_child1.hasChildren())
							<ul>
								#foreach ($nav_child2 in $nav_child1.getChildren())
									#set ($nav_child2_attr_selected="")
									#set ($nav_child2_caret="")
									#set ($nav_child2_css_class = "false")

									#if ($nav_child2.isSelected())
										#set ($nav_child2_attr_selected="aria-selected='true'")
										#set ($nav_child2_css_class = "selected")
									#end
									#if ($nav_child2.hasChildren())
										#set ($nav_child2_caret='<span class="icon-caret-down"></span>')
									#end
									<li class="$nav_child2_css_class" id="layout_$nav_child2.getLayoutId()" $nav_child2_attr_selected role="option">
										<a aria-labelledby="layout_$nav_child2.getLayoutId()" href="$nav_child2.getURL()" $nav_child2.getTarget() role="menuitem">$nav_child2.getName()</a>
									</li>
								#end  
							</ul>
						#end	
						
					#end
					</li>
				#end	
			#end
		</ul> *#
			<ul class="menu_colegiados">
				<li style="">
					<h3>
						<span class="light">SERVICIOS</span>JURÍDICOS
					</h3>
					<ul>
						<li class="false" id="layout_84" role="option">
							<a aria-labelledby="layout_84" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/desarrollo-empresarial" role="menuitem">Desarrollo empresarial</a>
						</li>
						<li class="false" id="layout_85" role="option">
							<a aria-labelledby="layout_85" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/fiscal" role="menuitem">Fiscal</a>
						</li>
						<li class="false" id="layout_86" role="option">
							<a aria-labelledby="layout_86" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/juridica" role="menuitem">Jurídica</a>
						</li>
						<li class="false" id="layout_87" role="option">
							<a aria-labelledby="layout_87" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/asesoria-laboral" role="menuitem">Asesoría Laboral</a>
						</li>
						<li class="false" id="layout_88" role="option">
							<a aria-labelledby="layout_88" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/funcionarios" role="menuitem">Funcionarios</a>
						</li>
						<li class="false" id="layout_89" role="option">
							<a aria-labelledby="layout_89" href="$theme_display.getPortalURL()/guest/zona-privada/servicios-juridicos/urbanistica" role="menuitem">Urbanística</a>
						</li>
						<li class="false" id="layout_90" role="option">
							<a aria-labelledby="layout_90" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/tecnica" role="menuitem">Técnica</a>
						</li>
						<li class="false" id="layout_91" role="option">
							<a aria-labelledby="layout_91" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/seguridad-y-salud" role="menuitem">Seguridad y Salud</a>
						</li>
						<li class="false" id="layout_92" role="option">
							<a aria-labelledby="layout_92" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/tecnologia" role="menuitem">Tecnología</a>
						</li>
						<li class="false" id="layout_93" role="option">
							<a aria-labelledby="layout_93" href="$theme_display.getPortalURL()/web/guest/zona-privada/servicios-juridicos/prevencion-de-incendios" role="menuitem">Prevención de Incendios</a>
						</li>
					</ul>
				</li>
				<li style="">
					<h3>
						<span class="light">GABINETE</span>TÉCNICO
					</h3>
					<ul>
						<li class="false" id="layout_132" role="option">
							<a aria-labelledby="layout_132" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/legislacion-y-normativa" role="menuitem">Legislación y Normativa</a>
						</li>
						<li class="false" id="layout_133" role="option">
							<a aria-labelledby="layout_133" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/informacion-y-documentacion-tecnica" role="menuitem">Información y Documentación Técnica</a>
						</li>
						<li class="false" id="layout_134" role="option">
							<a aria-labelledby="layout_134" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/control-de-calidad" role="menuitem">Control de Calidad</a>
						</li>
						<li class="false" id="layout_135" role="option">
							<a aria-labelledby="layout_135" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/eficiencia-energetica" role="menuitem">Eficiencia Energética</a>
						</li>
						<li class="false" id="layout_136" role="option">
							<a aria-labelledby="layout_136" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/codigo-tecnico" role="menuitem">Código Técnico</a>
						</li>
						<li class="false" id="layout_137" role="option">
							<a aria-labelledby="layout_137" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/empresas-y-prontuario" role="menuitem">Empresas y Prontuario</a>
						</li>
						<li class="false" id="layout_138" role="option">
							<a aria-labelledby="layout_138" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/subvenciones-ayudas-a-rehabilitacion-eficiente" role="menuitem">Subvenciones ayudas a rehabilitación eficiente</a>
						</li>
						<li class="false" id="layout_139" role="option">
							<a aria-labelledby="layout_139" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/articulos-gabinete-tecnico" role="menuitem">Artículos Gabinete Técnico</a>
						</li>
						<li class="false" id="layout_140" role="option">
							<a aria-labelledby="layout_140" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/guia-de-actuaciones-profesionales" role="menuitem">Guía de Actuaciones Profesionales</a>
						</li>
						<li class="false" id="layout_141" role="option">
							<a aria-labelledby="layout_141" href="$theme_display.getPortalURL()/web/guest/zona-privada/gabinete-tecnico/langing-colegiado" role="menuitem">Langing Colegiado</a>
						</li>
						<li class="false" id="layout_142" role="option">
							<a aria-labelledby="layout_142" href="https://portal.aparejadoresmadrid.es/seguras/AccesoPortal.aspx" role="menuitem">Mis tramites</a>
						</li>
						<li class="false" id="layout_143" role="option">
							<a aria-labelledby="layout_143" href="https://portal.aparejadoresmadrid.es/seguras/AccesoPortal.aspx" role="menuitem">Visado Digital</a>
						</li>
					</ul>
				</li>
				<li style="">
					<h3>
						<span class="light">GABINETE</span>TÉCNICO
					</h3>
					<ul>
						<li class="false" id="layout_78" role="option">
							<a aria-labelledby="layout_78" href="https://portal.aparejadoresmadrid.es/seguras/AccesoPortal.aspx" role="menuitem">Nuevo tramite</a>
						</li>
						<li class="false" id="layout_79" role="option">
							<a aria-labelledby="layout_79" href="https://portal.aparejadoresmadrid.es/seguras/AccesoPortal.aspx" role="menuitem">Consultar</a>
						</li>
						<li class="false" id="layout_80" role="option">
							<a aria-labelledby="layout_80" href="https://portal.aparejadoresmadrid.es/seguras/AccesoPortal.aspx" role="menuitem">Contrato para la utilización de Servicios Digitales</a>
						</li>
						<li class="false" id="layout_81" role="option">
							<a aria-labelledby="layout_81" href="$theme_display.getPortalURL()/web/guest/zona-privada/tramites-digitales/biblioteca" role="menuitem">Biblioteca</a>
						</li>
					</ul>
				</li>
				<li style="">
					<h3>VISADOS</h3>
					<ul>
						<li class="false" id="layout_175" role="option">
							<a aria-labelledby="layout_175" href="https://portal.aparejadoresmadrid.es/seguras/AccesoPortal.aspx" role="menuitem">Mis tramites</a>
						</li>
						<li class="false" id="layout_176" role="option">
							<a aria-labelledby="layout_176" href="http://localhost:8080/documents/20181/32252/Tarifas-CCP-2018.pdf/aa6cd740-1d16-4311-b156-fb48761ffc91" role="menuitem">Tabla Gastos Gestión</a>
						</li>
						<li class="false" id="layout_177" role="option">
							<a aria-labelledby="layout_177" href="http://localhost:8080/documents/20181/32252/Tr%C3%ADptico-CCP-2013.pdf/fd751a0c-fdba-441d-ad7d-ad84d577f9c7" role="menuitem">Información CCP</a>
						</li>
						<li class="false" id="layout_178" role="option">
							<a aria-labelledby="layout_178" href="$theme_display.getPortalURL()/web/guest/zona-privada/visados/informacion-sobre-el-visado" role="menuitem">Información sobre el Visado</a>
						</li>
						<li class="false" id="layout_179" role="option">
							<a aria-labelledby="layout_179" href="$theme_display.getPortalURL()/web/guest/zona-privada/visados/impresos" role="menuitem">Impresos</a>
						</li>
						<li class="false" id="layout_180" role="option">
							<a aria-labelledby="layout_180" href="$theme_display.getPortalURL()/web/guest/zona-privada/visados/libro-de-incidencia-electronico" role="menuitem">Libro de incidencia electrónico</a>
						</li>
						<li class="false" id="layout_181" role="option">
							<a aria-labelledby="layout_181" href="$theme_display.getPortalURL()/web/guest/zona-privada/visados/libro-de-ordenes-electronico" role="menuitem">Libro de ordenes electrónico</a>
						</li>
					</ul>
				</li>
			</ul>
    	#end
    </div>
</nav>

  <div class="container-fluid">
    <!--<div class="cont_back">
  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
  role="button" title="Volver al inicio de la página"
  data-toggle="tooltip" data-placement="left"><span class="bullet-chevron-up"></span></a>
</div> -->
    <div>
      <div id="certificaciones">
        <a href="/certificados">
          <img src="$images_folder/certificaciones.png" alt="certificacaciones" srcset="$images_folder/certificaciones.svg" width="362">
        </a>
      </div>
      <nav id="menu-basico">
        <ul>
          <li>
            <a href="/aviso-legal">Aviso legal</a>
          </li>
          <li>
            <a href="/politica-de-privacidad">Política de privacidad</a>
          </li>
          <li>
            <a href="/mapa-web">Mapa web</a>
          </li>
          <li>
            <a href="/contacto">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>