// main: main.less

/*-------------------agenda--------------------*/


body.agenda main .container-fluid { z-index: 100; }

   #agenda {
		 body.agenda & {
			 margin-top: -100px;}
		 padding: 15px 30px;
		 h1 {
			 margin: 0 0 15px 15px;
			 font-size: 21px;
			color: #000;
		 }
     ul {
       list-style: none;
       display: flex;
       flex-wrap: wrap;
      li {
        list-style: none;
      //  flex-basis: 50%;
      width: 50%;

        margin: 0 0 15px 0;
        padding: 0 15px;
        display: flex;
        &:before {
          display: block;
          .icofont;
        //  content: '';
        //  &:extend(.icon-etiqueta:before);
          width: 80px;
          background-color: @gris5;
          color: #fff;
          text-align: center;
          font-size: 40px;
          padding: 15px 0 0 0;
        }
        .detalle {
          padding: 8px 12px;
          border: 1px solid @gris5;
          background-color: #fff;
          width: 100%;
          h3 {
						margin: 0 0 8px 0;
					 a {font-family:@font-corporativa-med; }
					}
          time {font-family: @font-corporativa-med}
        //  float: left;
        }
        &.colegiado {
          &:before {background-color: @color1;}
          .detalle {border: 1px solid @color1;}
        }
       }
        }

				#pasados ul li{
 				 &:before {background-color: @gris6;}
 				 .detalle {
 					 border: 1px solid @gris6;
					 h3 a, p , time {color: @gris3};
 				 }
 			 }

        .botonera {text-align: center; margin: 15px 0}

				@media (max-width: @screen-md) {
							ul li {
									width: 100%;
								}
						}
				 @media (max-width: @screen-is) {
								 ul li {padding: 0}
				 }

				 @media (max-width: @screen-s) {
							padding:15px;
				 }
   }
