// main: main.less

/*-------------------aui liferay--------------------*/
.aui .servicios .CA_contenedor a {
  color: #aa1e32;
  text-decoration: none;
}

.aui .empresas .CA_contenedor h3 a {
  color: #aa1e32;
  text-decoration: none;
}

.aui .empresas .CA_contenedor h3 a:hover,
.aui .empresas .CA_contenedor h3 a:focus {
  color: #69131f;
}

.aui .servicios.pagina_detalle .CA_contenedor h2 a {
  color: #000;
}

.aui .servicios.pagina_detalle .CA_contenedor h2 a:hover,
.aui .servicios.pagina_detalle .CA_contenedor h2 a:focus {
  color: #69131f;
}

.aui .servicios .CA_contenedor a:hover,
.aui .servicios .CA_contenedor a:focus {
  color: #69131f;
  text-decoration: underline;
}

.aui .servicios .CA_contenedor a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.aui .menu-c-aparejadores .collapse {
  display: none;
}

/* Funcionalidad collapse */
@media (min-width: 980px) {
  .aui #pasados.collapse {
    display: none;
  }

  .aui div[id^='contenido_detalle'].collapse {
    display: none;
  }

  .aui #formu_busc_pro.collapse {
    display: none;
  }

  .aui #formu_busc_pro.collapse.in {
    display: block;
  }

  .aui #formu_info.collapse {
    display: none;
  }

  .aui #formu_info.collapse.in {
    display: block;
  }

  .aui #resultados_pro.collapse {
    display: none;
  }

  .aui #resultados_pro .ficha_pro div.collapse {
    display: none;
  }
}

@media (min-width: 768px) {
  .aui .menu-c-aparejadores .collapse {
    display: none;
  }
}

.aui .menu-c-aparejadores .collapse.in {
  display: block;
}

@media (min-width: 768px) {
  .aui .menu-c-aparejadores .collapse.in {
    display: block;
  }
}

.aui .menu-c-aparejadores .navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  /* display:block; */
}

/*.aui .menu-c-aparejadores .navbar-toggle {
  display: block;
}

@media(min-width:768px) {
  .aui .menu-c-aparejadores .navbar-toggle {
    display: block;
  }
}

@media(min-width:768px) {
  .navbar-toggle {
    display: block;
  }
}*/
.aui .menu-c-aparejadores.navbar-default .navbar-toggle:hover,
.aui .menu-c-aparejadores.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.aui .menu-c-aparejadores.navbar-default .navbar-collapse,
.aui .navbar-default .navbar-form {
  border-color: #eeeeee;
}

.aui .CA_contenedor .pagination>li>a,
.aui .CA_contenedor .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #aa1e32;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.aui .CA_contenedor .pagination>li>a:hover,
.aui .CA_contenedor .pagination>li>span:hover,
.aui .CA_contenedor .pagination>li>a:focus,
.aui .CA_contenedor .pagination>li>span:focus {
  z-index: 2;
  color: #69131f;
  background-color: #f4f4f0;
  border-color: #ddd;
}

.aui .CA_contenedor .pagination>.active>a,
.aui .CA_contenedor .pagination>.active>span,
.aui .CA_contenedor .pagination>.active>a:hover,
.aui .CA_contenedor .pagination>.active>span:hover,
.aui .CA_contenedor .pagination>.active>a:focus,
.aui .CA_contenedor .pagination>.active>span:focus {
  z-index: 3;
  color: #fff;
  background-color: #aa1e32;
  border-color: #aa1e32;
  cursor: default;
}

.aui .CA_contenedor .pagination>.disabled>span,
.aui .CA_contenedor .pagination>.disabled>span:hover,
.aui .CA_contenedor .pagination>.disabled>span:focus,
.aui .CA_contenedor .pagination>.disabled>a,
.aui .CA_contenedor .pagination>.disabled>a:hover,
.aui .CA_contenedor .pagination>.disabled>a:focus {
  color: #8c8c69;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

html.aui,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #3a3a35;
}

.aui .container-100 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

/*html.aui .container-100#contenido_detalle {
  padding-top: 30px;
  margin-top: 0px;
}*/
/*html.aui .container-100.separacion-servicios {
  padding-top: 30px;
  margin-top: 0px;
}*/

html.aui .container-100.especial-1 {
  box-shadow: none;
  margin-top: 0;
  padding-top: 0;
}

.aui .container-100.especial-2 {
  padding-top: 30px;
}

html.aui .container-100.separacion {
  box-shadow: none;
  padding-top: 10px;
}

/* Clase especial para separar el contenido en Liferay */
.aui .row,
.aui .row-fluid {
  margin-left: 0px;
  margin-right: 0px;
}

.aui div#column-1 {
  padding-left: 0px;
  padding-right: 0px;
}

.aui .container-100.separado .container-fluid section {
  box-shadow: none;
  padding-top: 50px;
}

.aui .container-100.no-sombra {
  box-shadow: none;
}

.aui .CA_contenedor .portlet-borderless-container {
  /*position: inherit;*/
  background: #3A3A35;
  min-height: 0;
  /* Modificado para la sección de banners */
}

.aui .CA_contenedor .portlet-asset-publisher .lfr-meta-actions {
  margin-right: 0;
  margin-bottom: 0;
}

.aui .portlet-topper .portlet-topper-toolbar a i {
  color: #aa1e32;
}

.aui .portal-popup,
.aui .dialog-iframe-root-node {
  display: inline-table;
}

html.aui body {
  font-family: 'encode_sansregular', Helvetica, sans-serif;
  font-size: 15px;
}

/*.aui #header {
  background-color: transparent;
}*/
.aui .servicios .CA_contenedor a:hover,
.aui .servicios .CA_contenedor a:focus {
  color: #530f18;
  text-decoration: none;
}

.aui .CA_contenedor h1,
.aui .CA_contenedor h1 a {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  color: #aa1e32;
  font-size: 36px;
  margin: 0;
  font-weight: normal;
  clear: both;
  text-transform: uppercase;
}

.aui h2,
.aui h2 a {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  color: #aa1e32;
  font-size: 21px;
  margin: 0;
  font-weight: normal;
  color: #000;
  clear: both;
  text-transform: uppercase;
}

.aui h3,
.aui h3 a {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  color: #aa1e32;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  clear: both;
}

.aui h4,
.aui h4 a {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  color: #aa1e32;
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  color: #3e3e2f;
  clear: both;
}

.aui h5,
.aui h6,
.aui h5 a,
.aui h6 a {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  color: #aa1e32;
  font-size: 15px;
  margin: 0;
  font-weight: normal;
  color: #64644b;
  clear: both;
}

.aui .boton_corp {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  color: #aa1e32;
  font-size: 21px;
  margin: 0;
  font-weight: normal;
  border: 1px solid #000;
  padding: 4px 8px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}

.aui .boton_corp:hover,
.aui .boton_corp:focus {
  border-color: #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
}

.aui .home ul.tags li a {
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
}

.aui .empresas ul.tags li a {
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
}

.aui .home ul.tags li a:hover {
  border: 1px solid #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
}

.aui .empresas ul.tags li a:hover {
  border: 1px solid #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
}

.aui .home .CA_contenedor ul.tags li a:focus {
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
  text-decoration: none;
  outline: none;
}

.aui .empresas .CA_contenedor ul.tags li a:focus {
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
  text-decoration: none;
  outline: none;
}

.aui .servicios ul.tags li a {
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
}

.aui .servicios ul.tags li a:hover {
  border: 1px solid #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
}

.aui .servicios .CA_contenedor ul.tags li a:focus {
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
  text-decoration: none;
  outline: none;
}

.aui ul.redes li a:hover {
  color: #aa1e32;
  text-decoration: none;
}

.aui ul.redes li a:focus {
  color: #959571;
  text-decoration: none;
}

.aui #wrap .icon-etiqueta:before,
.aui #contenido-principal #destacamos ul.lista_dest>li ul.tags:before,
ul.tags:before {
  content: "\e92d";
}

/*-------------------------menu principal horizontal-------------------------------*/
.aui nav.menu-c-aparejadores.navbar {
  width: 100%;
  border: none;
  background-color: transparent;
  z-index: 200;
  margin-bottom: 0;
  min-height: 30px;
}

.aui nav.menu-c-aparejadores.navbar .navbar-toggle {
  float: right;
  margin: 5px 20px 5px 15px;
  padding: 4px;
  border: 2px solid #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
}

.aui nav.menu-c-aparejadores.navbar .navbar-toggle:hover,
.aui nav.menu-c-aparejadores.navbar .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

.aui nav.menu-c-aparejadores.navbar .navbar-toggle .icon-bar {
  width: 16px;
  background-color: #fff;
}

.aui nav.menu-c-aparejadores.navbar .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 3px;
}

.aui nav.navbar #navbar ul.navbar-nav li>.sub-menu li:hover {
  background-color: #fff;
}

.aui nav.menu-c-aparejadores.navbar #navbar {
  position: absolute;
  top: 56px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: visible;
  overflow-y: visible;
  margin: 2px 0 0 0;
  width: 220px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border: none;
  z-index: 100;
  padding: 0;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav {
  margin: 0;
  text-align: right;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li {
  width: 100%;
  position: relative;
  padding: 0 8px 0 4px;
  line-height: 1em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li:last-child a {
  border-bottom: none;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li:hover {
  background-color: #f5f5f2;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li:hover a {
  color: #000;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0), 0px 0px 6px rgba(0, 0, 0, 0), 0px 0px 3px rgba(0, 0, 0, 0);
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li:hover a:before {
  z-index: 200;
  padding-left: 0;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li a {
  padding: 8px 0;
  display: block;
  border-bottom: 1px dotted #959571;
  color: #fff;
  text-transform: uppercase;
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.03em;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li a:hover,
.aui nav.navbar #navbar ul.navbar-nav li a:focus {
  text-decoration: none;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li a:before {
  font-family: 'icofont-bullets' !important;
  font-style: normal;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d6d6c9;
  display: block;
  position: absolute;
  left: 0;
  line-height: 36px;
  top: 0;
  text-align: left;
  width: 20px;
  padding-left: 2px;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li>.sub-menu {
  position: absolute;
  top: 0;
  left: -239px;
  display: none;
  margin-top: -6px;
  margin-left: -1px;
  z-index: 1000;
  width: 240px;
  top: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li>.sub-menu li {
  background-color: rgba(0, 0, 0, 0.3);
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li>.sub-menu li a {
  color: #fff;
  text-transform: none;
  font-family: 'encode_sansregular', Helvetica, sans-serif;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li>.sub-menu li a:before {
  content: '';
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav.colegiado {
  width: 180px;
  right: -180px;
  background-color: #aa1e32;
  position: absolute;
  top: 0;
  height: auto;
  /* Mostrar las opciones */
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav.colegiado li a {
  border-bottom: none;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0), 0px 0px 6px rgba(0, 0, 0, 0), 0px 0px 3px rgba(0, 0, 0, 0);
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav.colegiado li a:before {
  content: '';
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li>.sub-menu li:hover {
  background-color: #fff;
}

.aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav li>.sub-menu li:hover a {
  color: #000;
}

@media (max-width: 480px) {
  .aui navnav.menu-c-aparejadores.navbar #navbar {
    width: 200px;
  }

  .aui nav.navbar #navbar ul.navbar-nav>li>a {
    font-size: 13px;
  }

  .aui nav.navbar #navbar ul.navbar-nav>li>.sub-menu {
    width: 180px;
    left: -180px;
  }
}

@media (max-width: 400px) {
  .aui nav.navbar #navbar {
    right: -40%;
  }

  .aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav>li>a:before {
    content: '';
  }

  .aui nav.menu-c-aparejadores.navbar #navbar ul.navbar-nav>li>.sub-menu {
    position: relative;
    top: inherit;
    left: inherit;
    display: none !important;
  }
}

.aui #menu_completo h3 {
  color: #fff;
  margin: 0 0 8px 0;
  height: 40px;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 150px;
}

.aui #menu_completo>ul>li a:hover,
.aui #menu_completo>ul>li a:focus {
  text-decoration: none;
}

.aui .header_group #header .cab-centro .cab-contacto a:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4), 0px 0px 6px rgba(255, 255, 255, 0.4), 0px 0px 3px rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.aui .aui #header .cab-centro .cab-contacto a:focus {
  text-decoration: none;
}

.aui .header_group #header .cab-dere .cab-login a:hover,
.aui .header_group #header .cab-dere .cab-login a:focus {
  text-decoration: none;
}

/*-------------------------fondo cabeceras subhome-------------------------------------*/
/*.home .header_group .fondo-aux {
  height: 260px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% -80px no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}*/
.aui .home .header_group .fondo-aux:before,
.aui .home .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .home .header_group .fondo-aux:after {
  clear: both;
}

.aui .home .header_group .fondo-aux:before,
.aui .home .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .home .header_group .fondo-aux:after {
  clear: both;
}

/*-------------------------fondo cabecera home-------------------------------------*/
.aui .home .header_group .fondo-aux {
  height: 630px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% 0 no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

/*-------------------------fondo cabeceras agenda-------------------------------------*/
.aui .agenda .header_group .fondo-aux {
  height: 260px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% -80px no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.aui .agenda .header_group .fondo-aux:before,
.aui .agenda .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .agenda .header_group .fondo-aux:after {
  clear: both;
}

.aui .agenda .header_group .fondo-aux:before,
.aui .agenda .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .agenda .header_group .fondo-aux:after {
  clear: both;
}

/*-------------------------fondo cabeceras agenda-------------------------------------*/
.aui .servicios .header_group .fondo-aux {
  height: 260px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% -80px no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.aui .servicios .header_group .fondo-aux:before,
.aui .servicios .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .servicios .header_group .fondo-aux:after {
  clear: both;
}

.aui .servicios .header_group .fondo-aux:before,
.aui .servicios .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .servicios .header_group .fondo-aux:after {
  clear: both;
}

/*-------------------------fondo cabeceras empresas-------------------------------------*/
.aui .empresas .header_group .fondo-aux {
  height: 260px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% -80px no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.aui .empresas .header_group .fondo-aux:before,
.aui .empresas .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .empresas .header_group .fondo-aux:after {
  clear: both;
}

.aui .empresas .header_group .fondo-aux:before,
.aui .empresas .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .empresas .header_group .fondo-aux:after {
  clear: both;
}

/*-------------------------fondo cabeceras Formacion-------------------------------------*/
.aui .formacion .header_group .fondo-aux {
  height: 260px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% -80px no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.aui .formacion .header_group .fondo-aux:before,
.aui .formacion .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .formacion .header_group .fondo-aux:after {
  clear: both;
}

.aui .formacion .header_group .fondo-aux:before,
.aui .formacion .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .formacion .header_group .fondo-aux:after {
  clear: both;
}

/*-------------------------fondo cabeceras pagina deta-------------------------------------*/
.aui .servicios.pagina_detalle .header_group .fondo-aux {
  height: 190px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% -80px no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.aui .servicios.pagina_detalle .header_group .fondo-aux:before,
.aui .servicios.pagina_detalle .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

.aui .servicios.pagina_detalle .header_group .fondo-aux:after {
  clear: both;
}

.aui .servicios.pagina_detalle .header_group .fondo-aux:before,
.aui .servicios.pagina_detalle .header_group .fondo-aux:after {
  content: " ";
  display: table;
}

/*-----------------------------footer------------------------------------*/
.aui #footer {
  padding: 0;
  background-color: #8e8d7d;
}

.aui #footer .container-fluid>div {
  overflow: hidden;
}

.aui #footer .container-fluid>div::before {
  content: '• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •';
  display: block;
  overflow: hidden;
  color: #b8b8a0;
  font-size: 9px;
  line-height: 7px;
  width: 100%;
  margin: 0 0 10px 0;
  text-overflow: clip;
  height: 5px;
  white-space: nowrap;
}

.aui #footer .container-fluid>div:before {
  font-size: 10px;
  height: 8px;
  color: #fff;
  letter-spacing: 0.05em;
}

.aui #footer #certificaciones {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin: 0 0 15px 0;
}

.aui #footer #menu-basico ul li a:hover,
.aui #footer #menu-basico ul li a:focus {
  color: #aa1e32;
  text-decoration: none;
}

.aui #contenido-principal #mundo_servicios>div .botonera .boton_corp {
  margin: 0 auto;
  display: inline-block;
}

.aui #contenido-principal #mundo_servicios>div ul li a:hover,
.aui #contenido-principal #mundo_servicios>div ul li a:focus {
  color: #aa1e32;
  text-decoration: none;
}

.aui #contenido-principal #destacado h2:hover,
.aui #contenido-principal #destacado h2 a:hover {
  color: #aa1e32;
  text-decoration: none;
}

.aui #contenido-principal #destacado h2:focus,
.aui #contenido-principal #destacado h2 a:focus {
  color: #64644b;
  text-decoration: none;
}

.aui #contenido-principal #destacamos ul.lista_dest>li h3 a:hover,
.aui #contenido-principal #destacamos ul.lista_dest>li h3 a:focus {
  text-decoration: none;
  color: #530f18;
}

.aui .CA_contenedor #contenido-principal #destacamos ul.lista_dest>li.colegiado a {
  color: #fff;
}

@media (max-width: 480px) {
  .aui #contenido-principal #destacamos ul.lista_dest {
    margin: 0;
  }

  .aui #contenido-principal #destacamos ul.lista_dest li {
    padding: 15px 0;
  }
}

.aui #cont_destacado {
  padding: 20px 15px 30px 15px;
  position: relative;
  z-index: 10;
}

.aui #cont_destacado #revista_BIA .detalle ul li a:hover {
  color: #aa1e32;
  text-decoration: none;
}

.aui #cont_destacado #revista_BIA .detalle ul li a:focus {
  text-decoration: none;
}

.aui #cont_destacado #revista_BIA p a {
  color: #aa1e32;
}

.aui #cont_destacado #revista_BIA p a:hover,
.aui #cont_destacado #revista_BIA p a:focus {
  color: #530f18;
  text-decoration: none;
}

.aui #cont_destacado #observatorio_2020 ul li a {
  color: #aa1e32;
}

.aui #cont_destacado #observatorio_2020 ul li a:focus,
.aui #cont_destacado #observatorio_2020 ul li a:hover {
  color: #530f18;
  text-decoration: none;
}

.aui #agenda ul li .detalle h3 a:hover,
.aui #agenda ul li .detalle h3 a:focus {
  text-decoration: none;
  color: #530f18;
}

.aui #agenda .detalle p {
  font-family: 'encode_sansregular', Helvetica, sans-serif;
}

.aui .CA_contenedor label {
  color: #64644b;
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  font-weight: normal;
  line-height: 0.9em;
}

.aui input.form-control[type="text"]:focus {
  border-color: #aa1e32;
}

.aui .CA_contenedor select.form-control {
  color: #27271d;
  font-style: normal;
  margin-top: 3px;
  height: 30px;
  line-height: 26px;
  border-radius: 0;
  border: 1px solid #aa1e32;
  padding: 3px 6px;
}

.aui .CA_contenedor textarea.form-control {
  color: #27271d;
  font-style: normal;
  margin-top: 3px;
  line-height: 26px;
  border-radius: 0;
  border: 1px solid #aa1e32;
  padding: 3px 6px;
}

.aui .servicios .CA_contenedor .boton_formu {
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  border: 1px solid #aa1e32;
  padding: 6px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #aa1e32;
  display: inline-block;
}

.aui .servicios .CA_contenedor .boton_formu:hover,
.aui .servicios .CA_contenedor .boton_formu:focus {
  border-color: #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
}

.aui #formacion>ul>li .detalle h3 a:hover,
.aui #formacion>ul>li .detalle h3 a:focus {
  text-decoration: none;
  color: #530f18;
}

.aui #formacion .detalle p a {
  color: #aa1e32;
  text-decoration: none;
}

.aui #formacion .detalle p a:hover,
.aui #formacion .detalle p a:focus {
  color: #530f18;
  text-decoration: none;
}

.aui .ellipsis a.mas,
.aui .ellipsis a.menos {
  text-decoration: none;
  color: #aa1e32;
}

.aui .ellipsis a.mas:hover,
.aui .ellipsis a.mas:focus,
.aui .ellipsis a.menos:hover,
.aui .ellipsis a.menos:focus {
  text-decoration: none;
  color: #530f18;
}

.aui .cont_generico ul li a {
  color: #aa1e32;
  text-decoration: none;
}

.aui .cont_generico ul li a:hover,
.aui .cont_generico ul li a:focus {
  color: #530f18;
  text-decoration: none;
}

/*-------------------login--------------------*/
html.aui body.login {
  background: #3e3e2f;
}

.aui body.login .header_group .fondo-aux.imagen-contraida {
  height: 500px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% 0 no-repeat transparent;
}

.aui body.login .portlet-login {
  margin: -340px auto 0 auto;
  position: relative;
  background-color: #ecece6;
  padding: 0;
  max-width: 700px;
  min-height: auto;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.aui body.login .portlet-login .portlet-content {
  padding: 30px 60px;
}

.aui body.login .portlet-login .button-holder {
  margin: 0;
  float: right;
}

.aui body.login .portlet-login h1 {
  display: block;
  position: absolute;
  top: -44px;
  right: 15px;
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: right;
}

.aui body.login #contenido-principal {
  height: 0;
}

/*.aui .portlet-login :before {
  content: '';
  display: block;
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: #fff;
  top: 0;
  right: 0;
  margin: 0 15px;
  z-index: 10;
}*/
.aui .portlet-topper .portlet-topper-toolbar .portlet-icon-back {
  color: #aa1e32;
  background: none;
}

.aui body.login .portlet-topper .portlet-topper-toolbar .portlet-icon-back {
  display: none;
}

.aui body.login .portlet-title span.portlet-title-text {
  max-width: 100%;
}

.aui .portlet-title span.portlet-title-text.not-editable:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #ecece6;
  top: 44px;
  right: -14px;
  margin: 0 15px;
  z-index: 10;
}

.aui body.login .portlet-login h1 {
  color: #ecece6;
}

/*.aui .portlet-login :before {
  background-color: #ecece6;
}*/
.aui body.login .portlet-login .box_content {
  padding: 30px 60px;
}

.aui body.login .portlet-login .box_content .form-group label {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .aui body.login .portlet-login .box_content .form-group label {
    float: left;
    width: 33.33333333%;
  }
}

.aui body.login .portlet-login .box_content .form-group div {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .aui body.login .portlet-login .box_content .form-group div {
    float: left;
    width: 66.66666667%;
  }
}

.aui body.login .portlet-login .box_content .form-group div input {
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

.aui body.login .portlet-login .box_content .ayuda {
  margin-top: -10px;
  font-size: 14px;
  font-style: italic;
}

.aui body.login .portlet-login .box_content .botonera {
  text-align: right;
  margin: 15px 0 0 15px;
}

.aui body.login .portlet-login .box_content .botonera:before,
.aui body.login .portlet-login .box_content .botonera:after {
  content: " ";
  display: table;
}

.aui .portlet-login .box_content .botonera:after {
  clear: both;
}

.aui body.login .portlet-login .box_content .botonera:before,
.aui body.login .portlet-login .box_content .botonera:after {
  content: " ";
  display: table;
}

.aui body.login .portlet-login .box_content .botonera:after {
  clear: both;
}

.aui body.login .portlet-login .navigation {
  display: none;
}

.aui body.login .portlet-login input#_58_login {
  width: 65%;
  float: right;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  height: 30px;
}

.aui body.login .portlet-login label[for='_58_login'] {
  text-align: right;
  width: 30%;
}

.aui body.login .portlet-login input#_58_password {
  width: 65%;
  float: right;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  height: 30px;
}

.aui body.login .portlet-login label[for='_58_password'] {
  text-align: right;
  width: 30%;
}

.aui body.login .portlet-login .control-group {
  margin-bottom: 25px;
}

.aui body.login .portlet-login .control-group.form-inline.input-checkbox-wrapper {
  width: 65%;
  float: right;
  margin-top: -15px;
}

.aui body.login .portlet-login .btn-primary {
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  border: 1px solid #aa1e32;
  padding: 6px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #aa1e32;
  display: inline-block;
  border-radius: 0;
}

.aui body.login .portlet-login .btn-primary:hover,
.aui body.login .portlet-login .btn-primary:focus,
  {
  border-color: #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
  border-radius: 0;
  outline: none;
}

.aui body.login .portlet-login .btn-primary:active:hover,
.aui body.login .portlet-login .btn-primary:active:focus,
.aui body.login .portlet-login .btn-primary:active.focus,
.aui body.login .portlet-login .btn-primary.active:hover,
.aui body.login .portlet-login .btn-primary.active:focus,
.aui body.login .portlet-login .btn-primary.active.focus,
.aui body.login .portlet-login .open>.aui .btn-primary.dropdown-toggle:hover,
.aui body.login .portlet-login .open>.aui .btn-primary.dropdown-toggle:focus,
.aui body.login .portlet-login .open>.aui .btn-primary.dropdown-toggle.focus {
  border-color: #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
  border-radius: 0;
  outline: none;
}

.aui body.login footer {
  clear: both;
}

.aui body.login .portlet-login a {
  color: #aa1e32;
}

.aui body.login .portlet-login a:hover,
.aui body.login .portlet-login a:focus {
  color: #530f18;
  text-decoration: none;
}

/* Estilos buscador liferay */

.aui .header_group #header .cab-centro .cab-buscador input {
  width: auto;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  margin-top: 0px;
  margin-right: -7px;
  top: 4px;
}

.aui .portlet-search .control-group {
  margin-bottom: 0px;
}

.aui .portlet-search .input-text-wrapper #_3_keywords {
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
  margin: 6px 0 0 0;
  width: 180px;
  padding: 2px 5px 0 5px;
  height: 23px;
  width: 180px !important;
}

.aui .portlet-search .input-text-wrapper #_3_keywords:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  outline: -webkit-focus-ring-color auto 5px;
}

.aui .portlet-search #_3_groupId {
  /* Deshabilitado el combo de todo -  este sitio web */
  display: none;
}

.aui .portlet-search #_3_search {
  position: absolute;
  top: 5px;
  right: 12px;
  float: left;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.aui .portlet-search #_3_search:focus {
  outline: none;
}

.aui .header_group #header .cab-centro .cab-buscador {
  margin-top: 6px;
}

.aui .portlet-search label.radio {
  margin-left: 50px;
}

html.aui.dialog-iframe-root-node {
  background: #fff !important;
}

.aui .cab-centro .cab-contacto a:hover,
.aui .cab-centro .cab-contacto a:focus {
  outline: none;
  text-decoration: none;
}

.aui fieldset.input-container input#_3_search {
  position: initial;
}

.aui .portlet-search fieldset.input-container {
  background: #fff;
}

.aui .portlet-search fieldset.input-container .icon-search:before {
  content: "\f002" !important;
}

/* Estilos contenedor buscador */
.aui body.buscador .header_group .fondo-aux {
  height: auto;
  padding-bottom: 180px;
  background: url("/ColegioAparejadores-theme/images/fondo_cab_01.jpg") 50% -80px no-repeat transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.aui body.buscador .portlet-search fieldset.input-container {
  margin: -100px auto 0 auto;
  position: relative;
  padding: 30px 30px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  min-height: 200px;
  display: block;
}

.aui body.buscador {
  background-color: #3a3a35;
  color: #3e3e2f;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_keywords {
  margin-left: 15px;
  position: relative;
  max-width: 420px;
  width: 420px !important;
  height: 35px;
  padding: 8px 50px 6px 10px;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_search {
  position: relative;
  margin-left: -15px;
  top: 3px;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_clearSearch {
  position: relative;
  margin-left: -32px;
  top: 3px;
  display: none;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_clearSearch:focus {
  outline: none;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_searchTokensContent {
  padding-left: 12px;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_searchTokensContent .lfr-token {
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
  background: transparent;
  height: 20px;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_searchTokensContent .lfr-token:hover {
  border: 1px solid #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_searchTokensContent .lfr-token .lfr-token-text {
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  font-size: 12px;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_searchTokensContent .lfr-token .lfr-token-close {
  color: #646464;
}

.aui body.buscador .portlet-search fieldset.input-container #_3_searchTokensContent .lfr-token .lfr-token-close:hover,
.aui body.buscador .portlet-search fieldset.input-container #_3_searchTokensContent .lfr-token .lfr-token-close:focus {
  text-decoration: none;
  outline: none;
  color: #aa1e32;
}

.aui body.buscador .portlet-search fieldset.input-container .suggested-keywords .label {
  background-color: transparent;
  border-radius: 0px;
  font-style: italic;
  font-size: 15px;
  color: #3e3e2f;
  font-weight: normal;
}

.aui body.buscador .portlet-search fieldset.input-container .suggested-keywords a {
  color: #aa1e32;
  font-size: 18px;
}

.aui body.buscador .portlet-search fieldset.input-container .suggested-keywords .changed-keyword {
  font-style: initial;
  font-weight: normal;
  font-family: 'avenir_heavy', Helvetica, sans-serif;
}

.aui body.buscador .portlet-search fieldset.input-container .suggested-keywords a:hover,
.aui body.buscador .portlet-search fieldset.input-container .suggested-keywords a:focus {
  text-decoration: none;
  outline: none;
  color: #530f18;
}

.aui body.buscador .portlet-search fieldset.input-container .search-layout .result .asset-entry .asset-entry-title {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  clear: both;
}

.aui body.buscador .portlet-search fieldset.input-container .search-layout .result .asset-entry .asset-entry-title a {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  color: #aa1e32;
}

.aui body.buscador .portlet-search fieldset.input-container .search-layout .result .asset-entry .asset-entry-title a img {
  /*display: none;*/
}

.aui body.buscador .portlet-search fieldset.input-container .search-layout .result .asset-entry .asset-entry-title a:hover,
.aui body.buscador .portlet-search fieldset.input-container .search-layout .result .asset-entry .asset-entry-title a:focus {
  text-decoration: none;
  color: #530f18;
}

.aui body.buscador .portlet-search fieldset.input-container .taglib-asset-tags-summary .tag {
  background: none;
  color: #64644b;
  border: 1px solid #d6d6c9;
  border-radius: 3px;
  padding: 1px 6px 2px 6px;
  background: transparent;
  height: 20px;
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  font-size: 12px;
}

.aui body.buscador .portlet-search fieldset.input-container .taglib-asset-tags-summary .tag:hover,
.aui body.buscador .portlet-search fieldset.input-container .taglib-asset-tags-summary .tag:focus {
  border: 1px solid #aa1e32;
  color: #aa1e32;
  background-color: #f5f5f2;
  text-decoration: none;
}

.aui body.buscador .portlet-search fieldset.input-container .asset-entry-tags {
  display: inline-flex;
}

.aui body.buscador .portlet-search fieldset.input-container .asset-entry-tags i.icon-etiqueta {
  font-family: 'icon-coaatm' !important;
  display: inline-block;
  margin: 2px 8px 0 0;
  font-size: 20px;
  vertical-align: middle;
  font-family: 'icon-coaatm' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #959571;
}

.aui body.buscador .portlet-search fieldset.input-container .liferaytokenlist-content i.icon-etiqueta {
  font-family: 'icon-coaatm' !important;
  display: inline-block;
  margin: 2px 8px 0 0;
  font-size: 20px;
  vertical-align: middle;
  font-family: 'icon-coaatm' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #959571;
}

.aui body.buscador .portlet-search #_3_facetNavigation ul li {
  width: 100%;
}

.aui body.buscador .portlet-search #_3_facetNavigation .nav-pills>li.active>a,
.aui body.buscador .portlet-search #_3_facetNavigation .nav-pills>li.active>a:hover,
.aui body.buscador .portlet-search #_3_facetNavigation .nav-pills>li.active>a:focus {
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  background: #aa1e32;
  border-radius: 0px;
  padding: 6px 20px;
  font-weight: normal;
  color: #fff;
}

.aui body.buscador .portlet-search #_3_facetNavigation .nav-pills>li>a {
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  color: #aa1e32;
  padding: 6px 20px;
  border-radius: 0px;
}

.aui body.buscador .portlet-search #_3_facetNavigation .nav-pills>li>a:hover {
  color: #aa1e32;
  background-color: #f5f5f2;
}

.aui body.buscador .portlet-search fieldset.input-container .search-results {
  margin: -10px 0 20px 0;
  font-style: italic;
  text-transform: none;
  font-size: 16px !important;
  font-family: 'encode_sansregular', Helvetica, sans-serif;
  color: #959571;
}

.aui body.buscador .pager .disabled>a,
.aui body.buscador .pager .disabled>a:hover,
.aui body.buscador .pager .disabled>a:focus,
.aui body.buscador .pager .disabled>span {
  color: #8c8c69;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.aui body.buscador .pager>li>a,
.aui body.buscador .pager>li>span {
  text-decoration: none;
  color: #aa1e32;
  background-color: #fff;
  border: 1px solid #ddd;
}

.aui body.buscador .portlet-search fieldset.input-container .lfr-pagination {
  margin-top: 10px;
}

/*.aui #wrap [class^="icon-"]:before, #wrap [class*=" icon-"]:before, .aui .icofont {
  font-family: 'fontawesome-alloy' !important;
}*/
.aui #portlet_101 {
  background: #fff;
}

/* Identificador del portlet de agenda en la home PRE*/
.aui #p_p_id_101_INSTANCE_MmTAO0541oFq_ .container-100 {
  box-shadow: none;
  margin-top: 0px;
  padding-top: 10px;
}

/* Estilos portlet formulario web lado cliente */
.aui .CA_contenedor .web-form-portlet .portlet-body {
  background: #fff;
}

.aui .CA_contenedor .web-form-portlet fieldset.formu_desplegable {
  margin-bottom: 50px !important;
}

.aui .CA_contenedor .web-form-portlet fieldset legend {
  font-family: 'avenir_heavy', Helvetica, sans-serif;
  letter-spacing: 0;
  font-size: 21px;
  margin: 0;
  font-weight: normal;
  margin: 0 0 6px 0;
  color: #000;
  border: none;
}

.aui .CA_contenedor div[id*='desplegable'].collapse.in {
  height: auto;
}

.aui .CA_contenedor div[id*='desplegable'].collapse {
  height: 30px;
  min-height: 30px !important;
  overflow: hidden;
}

/*.aui .web-form-portlet .description {
  margin-bottom: 1em;
}
.aui .web-form-portlet .control-group label {
  width: 33%;
  float: left;
  text-align: right;
}*/
.aui .CA_contenedor .web-form-portlet .control-group {
  display: flex;
  margin-bottom: 15px;
}

.aui .CA_contenedor .web-form-portlet label {
  width: 36%;
  text-align: right;
  margin-top: 10px;
  float: left;
  padding-right: 30px;
}

.aui .CA_contenedor .web-form-portlet .control-group input,
.aui .CA_contenedor .web-form-portlet .control-group select,
.aui .CA_contenedor .web-form-portlet .control-group textarea,
  {
  width: 63.3%;
  float: left;
  color: #27271d;
  font-style: normal;
  margin-top: 3px;
  height: 30px;
  line-height: 26px;
  border-radius: 0;
  border: 1px solid #aa1e32;
  padding: 3px 6px;
}

.aui .CA_contenedor .web-form-portlet button {
  margin-top: 30px;
  clear: both;
  float: right;
  font-family: 'encode_sansmedium', Helvetica, sans-serif;
  border: 1px solid #aa1e32;
  padding: 6px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #aa1e32;
  display: inline-block;
  border-radius: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.aui .CA_contenedor .web-form-portlet button:focus,
.aui .CA_contenedor .web-form-portlet button:hover,
.aui .CA_contenedor .web-form-portlet button:active {
  border-color: #aa1e32 !important;
  color: #aa1e32 !important;
  background-color: #f5f5f2 !important;
}

.aui .CA_contenedor .web-form-portlet .taglib-captcha img {
  float: right;
  margin-right: 10px;
}

.aui .CA_contenedor .web-form-portlet .taglib-captcha span.refresh {
  float: right;
  margin-right: 10px;
}

.aui .CA_contenedor .web-form-portlet .taglib-captcha .control-group {
  clear: both;
}

.aui .CA_contenedor .web-form-portlet .form-validator-stack {
  text-align: center;
}

.aui .CA_contenedor .web-form-portlet .alert {
  width: 63.3%;
  padding: 6px;
  margin-left: 36%;
  margin-bottom: 10px;
}

/* Estilos portlet formulario web lado administrador */

/* Estilos para la configuración del visor de contenido */
.aui .portlet-journal {
  background: #fff;
}

.aui .portlet-journal i.icon-search {
  font-family: 'icon-coaatm' !important;
}

.aui .portlet-journal i.icon-lock {
  font-family: 'icon-coaatm' !important;
}

.aui .portlet-journal i.icon- {
  font-family: 'icon-coaatm' !important;
}

/* Estilos para botones sociales */

.aui .ayoshare li a {
  cursor: pointer;
}

.aui .ayoshare li a .burbuja {
  margin-bottom: 7px;
}

.aui .ayoshare li a .burbuja p {
  margin-bottom: 0px;
}

.aui .ayoshare li a:hover p {
  color: #959571;
}

/* Estilos para empresas detalle */ 

/* responsive aui liferay */
@media(max-width:990px) {
  .aui body.login #contenido-principal {
    height: auto;
  }
}

@media(max-width:768px) {
  .aui body.login .portlet-login {
    margin: -280px auto 0 auto;
  }

  .aui body.login .portlet-login label[for='_58_login'] {
    word-break: break-word;
  }

  .aui body.login .portlet-login label[for='_58_password'] {
    word-break: break-word;
  }

  .aui .header_group #header .cab-centro .cab-buscador input {
    margin-right: 0px;
  }

  .aui .header_group #header .cab-centro .cab-buscador .control-group.control-group-inline.input-text-wrapper {
    margin-right: -5px;
  }

  .aui body.buscador .portlet-search fieldset.input-container #_3_keywords {
    max-width: 100%;
    width: 90% !important;
  }

  .aui .CA_contenedor .web-form-portlet button {
    float: none;
  }

  .aui .CA_contenedor div[id*='desplegable'].collapse {
    display: block;
  }

  .aui .header_group #header .cab-centro {
    /*z-index : 0 !important;*/
  }

  .aui .colegiado .header_group {
    /* margin-bottom: 40px; */
  }

  .aui .header_group {
    /* margin-bottom: 40px; */
  }

  .aui .cont_generico ul li a {
    word-break: break-word;
  }

  .aui #formacion h1 {
    font-size: 25px;
    top: -22px;
  }
}

@media(max-width:570px) {
  .aui .header_group #header .cab-centro .cab-nav nav.navbar #navbar {
    top: 71px;
  }
}

@media(max-width:480px) {
  .aui .header_group #header .cab-centro .cab-nav nav.navbar #navbar {
    top: 70px;
  }

  .aui .header_group #header .cab-dere {
    z-index: 501;
  }

  .aui #servicios h1,
  #empresas h1,
  #contenido-principal #mundo_servicios h2 {
    /*top: -27px;
    padding-left:12px;*/
  }
}

@media(max-width:390px) {
  .aui .colegiado .header_group #header .cab-centro .cab-nav nav.navbar #navbar {
    width: 100%;
    right: 0;
  }

  .aui .colegiado .header_group #header .cab-centro .cab-nav nav.navbar #navbar ul {
    display: block !important;
  }
}

@media(max-width:360px) {
  .aui .colegiado .header_group #header .cab-centro .cab-nav nav.navbar #navbar {
    top: 137px;
  }
}

@media(max-width:320px) {
  .aui .header_group #header .cab-centro .cab-nav nav.navbar #navbar {
    top: 100px;
    width: 100%;
  }

  .aui .colegiado .header_group #header .cab-centro .cab-nav nav.navbar #navbar {
    top: 100px;
  }

  .aui .header_group #header .cab-centro .cab-contacto a {
    margin-left: 5px;
  }
}