// main: main.less

/*-------------------buscador-------------------*/


#buscador {
  margin: -100px auto 0 auto;
  position: relative;
  padding: 30px 30px;
  .h1_esp;
   .campo_busqueda {
     position: relative;
     max-width: 420px;
     width: 100%;
     input[type="search"] {
         .sombra-int;
         margin:6px 0 0 0;
         width:100%;
         padding: 8px 25px 6px 10px;
     }
     button.buscar {
     	background-color: transparent;
     	border: none;
     	position: absolute;
     	width: 20px;
     	height: 20px;
     	top:12px;
     	//right: 30px;
     	right:15px;
     	i {
     		&:before {
     			&:extend(	#wrap .icon-lupa01:before);
     				.icofont;
     				width: 20px;
     				height: 20px;
     				display: block;
     				color: @gris4;
     		}
     		}
     }
   }
   .filtros {
     margin: 10px 0 0 0;
     span {font-style: italic;}
     ul {display:inline-block;}
   }
   .resultados {
     h2 {
       margin: 30px 0 20px 0;
       font-style: italic;
       text-transform: none;
       font-size: 16px;
       font-family: @font-corporativa-reg;
       color: @gris4;
     }
     ul {
       li {
         margin-bottom: 20px;
         p {margin: 0}
       }
     }
     .pagination {
       a[aria-label="Previous"]:before {
         display:block;
        // width: 20px;
        // height: 25px;
         .icofont-bullet;
         &:extend(#wrap .bullet-caret-left:before );
       }
       a[aria-label="Next"]:before {
         display:block;
        // width: 20px;
        // height: 25px;
         .icofont-bullet;
         &:extend(#wrap .bullet-caret-right:before );
       }
     }
   }

@media (max-width: @screen-xs) {
  padding: 15px;
}

}



#articulos_relacionados {
  .layout-0-24-0;
  .resultados {
    margin: 20px 30px 0 30px ;
    > ul {
      margin: 20px 0 0 0;
      >li {
        margin:0 0 20px 0;
        } p{margin: 0}
      }
  }

  @media (max-width: @screen-xs) {
    .resultados {
        margin: 20px 0 0 0 ;
    }
  }
}
