// main: main.less







/*---------------------------------------*/
//.page-child #claim-area {display: none;}

#contenido_detalle {
  z-index: 10;
}


section.cont_generico, .cont_generico section {

  .layout-0-18-6;
  //margin-top: 30px;
  min-height: 400px;


      .main_column {
        //.post-thumbnail {display:none;}
        header h1 {margin-bottom: 10px;}
        h1 {
          font-family: @font-corporativa-reg;
          font-size: 26px;
          color: #000;
          text-transform: none;
        }
        h2 {
        //  .header_gen(18px);
          color:@color6;
          font-family: @font-corporativa-med;
          text-transform: none;
          strong{font-weight: normal;}
        }
        h3 {
       //    .header_gen(16px);
          color:@color1;
          font-family: @font-corporativa-med;
        }
        h1+h2 {margin-top: 6px;}
        h1+p, h2+p,h3+p,h1+figure, h2+figure,h3+figure  {margin-top: 15px;}
        p+h2, ul+h2, ol+h2, figure+h2, dl + h2, div+h2 {margin-top: 35px;}
        p+h3, ul+h3, ol+h3, figure+h3, dl + h3, div+h3, h2+h3 {margin-top: 25px;}

        img {max-width: 100%; height: auto;
        }

        figure.imagen_generica {
   			 margin: 15px 0;
         border: 1px solid @color7;
         .pie_estatico;
   			 img {
   			 max-width: 100%;
         height: auto;
   			 }
   		 }

       figure.img_peq {
       	width: 100%;
       	border: 1px solid @gris7;
       	background-color: @gris8;
       	padding: 8px;
       	text-align: center;
       	img {
       		border: 1px solid @gris7;
       		max-width: 100%;
          height: auto;
       	}
        &.izqui {
          float:left;
          margin-right:15px;
          width: 50%;
        }
        &.dere {
          float:right;
          margin-left:15px;
          width: 50%;
        }
         @media (max-width:@screen-sm) {
           &.izqui, &.dere {width: 100%}
         }
       }


      }

     aside.aside_right #banners {
         a {border: 1px solid @gris6;}
     }

     p.nota {
       font-style: italic;
       font-family: @font-corporativa-med;
     }

     .ficha {
       margin-top: 20px;
       padding: 8px 8px 10px 8px;
       border: 1px solid @gris6;
       background-color: @gris7;
       font-family: @font-corporativa-med;
       overflow: hidden;
       h2 {color: #000; font-family: @font-corporativa-headers-heavy; text-transform: uppercase;}
       ul {display: flex;
          flex-wrap: wrap;
         li {
           width: 50%;
          // display: flex;
           padding: 0 15px;
           margin-top: 15px;
           position: relative;
           min-height: 45px;
            &:before {
              .icofont;
              width: 40px;
              height: 40px;
              line-height: 40px;
              display: block;
              vertical-align: middle;
              font-size: 40px;
              color: @gris3;
            //  margin: 0 20px 0 0 ;
              position: absolute;
            }
              &.fecha:before {&:extend( #wrap .icon-calendario:before);}
              &.contacto:before {&:extend( #wrap .icon-info:before);}
              &.hora:before {&:extend( #wrap .icon-reloj:before);}
              &.lugar:before {&:extend( #wrap .icon-biblioteca:before);}
              &.online:before {&:extend( #wrap .icon-aprendizaje-en-linea:before);}
              &.presencial:before {&:extend( #wrap .icon-formacion-presencial:before);}
              &.precio:before {&:extend( #wrap .icon-euro:before);}
              &.inscripciones:before {&:extend( #wrap .icon-ico_registros-formacion:before);}

              p {
                display:block;
                padding: 0 0 0 60px;
                margin:0;
                vertical-align: middle;
                width: 100%;
              }
              dl {
                margin: -5px 0 0 0 ;
              }
         }
       }


       @media (max-width: @screen-sm) {
             >ul> li {
                width: 100%;
               }
           }
     }

     .info {
       margin-top: 20px;
       padding: 15px;
       border: 1px solid @gris6;
       background-color: @gris7;
       font-family: @font-corporativa-med;
       overflow: hidden;
       h2 {color: #000; font-family: @font-corporativa-headers-heavy; text-transform: uppercase;}
       &:before {
         .icofont;
         display: block;
         color: @gris3;
         font-size: 42px;
         line-height: 42px;
         float: left;

         &:extend( #wrap .icon-info:before);
       }
       &:after {
         content:"";
         display: table;
         clear:both;
       }
       p {
         padding-left: 60px;
         margin-bottom: 6px;
       }
     }



      .mosaico {
      	  display: flex;
          justify-content:space-around;
          margin-top: 20px;
          padding: 0 8px 10px 8px;
          border: 1px solid @gris7;
          background-color: @gris8;
          align-items:center;
          flex-wrap: wrap;
          align-content: space-around;
          figure {
            margin-top: 10px;
          }
      }

      .doble_columna {
        margin-top: 20px;
        padding: 8px 8px 10px 8px;
        border: 1px solid @gris7;
        background-color: @gris8;

        .clearfix;
        h2 {
        }
        div {
          .make-md-column(12);
          // padding: 0 8px;
          p{font-style: italic;}
        }
      }


            .triple_columna {
              margin-top: 20px;
              padding: 8px 8px 10px 8px;
              border: 1px solid @gris7;
              background-color: @gris8;

              .clearfix;
              h2 {
              }
              div {
                .make-md-column(8);
                // padding: 0 8px;
                p{font-style: italic;}
              }
            }


      .destacado {
        margin-top: 20px;
        padding: 8px 8px 10px 8px;
        border: 1px solid @gris7;
        background-color: @gris8;
        font-style: italic;
        font-size: 1.2em;
      }


      .tabla_gen {
        margin-bottom: 20px;
      }




   .header_empresas {
     margin: 0 0 50px 0;
     .clearfix;
     figure.logo_empresa {
       float: left;
       width: 300px;
       text-align: center;
        margin: 0 20px 0 0;
        img {max-width: 100%;}
     }
     width: 100%;
     h1 {clear:none;}
     h2 {clear:none;}
     .tags {
       margin: 20px 0 0 0;
       &:before {content: '';}
       li:first-child {margin-left: -10px;}
     }
   }


#cont_mapa {

  margin: 20px 0; 
  iframe {
    width: 100%;
      border: 1px solid @gris6;
    height: 400px;
  }
}








}




//
