// main: main.less


/*-----------------------------footer------------------------------------*/

@alto-footer:     375px;




#footer {
	padding:0;
	background-color: @color6;
//	height: @alto-footer;

  .container-fluid > div {
		.dotted_top;
		&:before {font-size: 10px; height: 8px; color:#fff;letter-spacing: 0.05em}
}


#certificaciones {
	.make-md-column(10);
  text-align: center;
	margin: 0 0 15px 0;
	img {width: 362px; max-width: 100%;}
}


#menu-basico {
	.make-md-column(14);
//	padding:0 0 0 280px;
  text-align: center;
  ul {
    padding: 10px 0;

  li {
    display: inline-block;
    font-family: @font-corporativa-med;

		& + li {

			&:before {
		//	&:extend(.icon-hexagono-solid:before);
        .icofont;
				 width: 6px;

				 content: '•';
				 display: inline-block;
				 color: #fff;
				 margin: 0 10px ;
				 font-size: 16px;
				 padding-bottom: 3px;

				 vertical-align:middle;
			}
		}
		a {
			vertical-align:middle;
			color:#fff;
			&:hover {
				color: @color1;
			}
		}
  }
}
}
@media (max-width: @screen-md) {
		ul li + li:before { margin: 0 6px ;}
}
@media (max-width: 850px) {

	 #menu-basico {padding: 0; }
}
}
