// main: main.less

/*-------------------servicios y empresas amigas--------------------*/


body.formacion main .container-fluid { z-index: 100; }

  #formacion {
     .h1_esp;
			 margin-top: -100px;
		   padding: 30px 30px 15px 30px;
       z-index: 10;
       position: relative;

    > ul {
       list-style: none;
      // display: flex;
      // flex-wrap: wrap;
    >  li {
        list-style: none;
      //  flex-basis: 50%;
        width: 100%;

        margin: 0 0 50px 0;
        padding: 0 15px;
        display: flex;
        .clearfix;

        figure {
          width:260px;
          text-align: center;
          padding-top: 8px;
          img {
            max-width: 100%;
          }
        }
        .detalle {
          padding: 8px 12px 8px 30px;
          width: 100%;
          .clearfix;
          h3 {
						margin: 0 0 8px 0;

					 a {font-family:@font-corporativa-med; font-size: 24px;}
					}
          p {font-family: @font-corporativa-med}
          .tags {
            &:before {display: none;}
          }

        }
        &.colegiado {
          &:before {color: @color1;}
        }
       }
        }


        @media (max-width: @screen-md) {
            .ficha>ul> li {
                 width: 100%;
                }
            }
         @media (max-width: @screen-sm) {
                >ul>li {
                     display: block;
                     figure {width: 100%; text-align: center;}
                     .detalle {
                       padding:15px 0 0 0;
                     }
                    }
                }
         @media (max-width:   @screen-is) {
                    padding:30px 15px;
                >ul>li {padding: 0;

                }
              }
   }











//
