// main: main.less


/*-----------------------------formularios------------------------------------*/



.sombra-int {
	border:none;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.40);
     -moz-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.40);
          box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.40);
}



label {
	color: @gris3;
	font-family: @font-corporativa-med;
	font-weight: normal;
	line-height: 0.9em;
}

input.form-control[type="text"], input.form-control[type="password"] {
	color: @gris1;
	font-style: normal;
	margin-top: 3px;
	height: 30px;
	line-height: 26px;
	border-radius: 0;
	border: 1px solid @color1;
	padding: 3px 6px;
}

input.input_fecha {
	width: 7em;
}



select.form-control {
	color: @gris1;
	font-style: normal;
	margin-top: 3px;
	height: 30px;
	line-height: 26px;
	border-radius: 0;
	border: 1px solid @color1;
	padding: 3px 6px;
}

textarea.form-control {
	color: @gris1;
	font-style: normal;
	margin-top: 3px;
	line-height: 26px;
	border-radius: 0;
	border: 1px solid @color1;
	padding: 3px 6px;
}


.c_form {display: block; float: left; padding-right: 10px;}
label.c_form  {text-align: right;  margin-bottom: 0;  padding-top: 7px;}

.placeholder {color:@color1-inverso; opacity:  0.8; font-style: italic;}

.boton_formu {
	font-family: @font-corporativa-med;
	border: 1px solid @color1;
	padding: 6px 20px;
	text-transform:uppercase;
	color: #fff;
	background-color: @color1;
	display: inline-block;
	&:hover, &:focus {
		border-color: @color1;
		color: @color1;
		background-color: @gris8;
	}
}



#wrap .formu_desplegable {
	margin: 30px 0;
	.desplegar{
		line-height: 11px;
		font-size: 11px;
		&:before {
			display: inline-block;
			width: 20px;
			height: 10px;
			color:@color1;
			.icofont-bullet;
			font-size: 28px;
			line-height: 12px;
			&:extend(#wrap .bullet-caret-up:before);
		}
		&.collapsed:before {	&:extend(#wrap .bullet-caret-down:before);}

		span {.oculto}
	}
   h2 {
		 .header_gen(21px);
		 margin: 0 0 6px 0;
		 text-transform: uppercase;
 	    color: #000;}
   .box_content {
       border:1px solid @gris5;
			 background-color: @gris7;
			 padding: 8px 15px;
			 .form-group {
				 label {.make-sm-column(8);}
				 div {.make-sm-column(16);}
			 }
			 .botonera {text-align: right; margin: 15px 0; .clearfix;}
	 }

  @media(min-width: @screen-sm){
    .box_content .form-group label {padding-top: 9px;}
	}
}





//
