// main: main.less


/*----------------------------------------genericos--------------------------------------------*/


html body {

	font-family: @font-general;
	font-size: 15px;
}

body {

}

#wrap {

}


#header {
	background-color: transparent;
}


a {
    color: @color1;
		font-family: @font-corporativa-med;
		 &:hover, &:focus {
			color: @color1_hover;
			text-decoration: none;
		}
}

ul, li {
	list-style: none;
	margin: 0 ;
	padding: 0;
}

h1, h1 a {
	.header_gen(36px);
	clear: both;
	text-transform: uppercase;
	.container_generico & {margin-bottom: 10px;}
}


h2, h2 a {
	.header_gen(21px);
	color: #000;
	clear: both;
	text-transform: uppercase;
	//.container_generico & {margin:18px 0 8px 0; font-family:@font-corporativa-med}
}

h3, h3 a {
	.header_gen(18px);
	clear: both;
	//.container_generico & {margin:18px 0 6px 0; font-family:@font-corporativa-med}
}
h4, h4 a {
	.header_gen(16px);
	color:@gris2;
	clear: both;
	//.container_generico & {margin:18px 0 4px 0; font-family:@font-corporativa-med}
}

h5, h6, h5 a, h6 a {
 .header_gen(15px);
 color:@gris3;
 clear: both;
 //.container_generico & {margin:18px 0 4px 0; font-family:@font-corporativa-med}
}

.light {
	font-family: @font-corporativa-headers-light;
	margin: 0 2px;
}

/*time {
	color:@gris5;
	font-size: 0.82em;
	letter-spacing: @letter-spacing * 1.2;
	font-family:@font-corporativa-ext-med;
	&:after {
		content:' - ';
	}
}*/

//clase para ocultar contenido de forma accesible
.oculto, .oculto:hover, .oculto:visited {position:absolute; top:-100px; width:1px; height:1px; overflow:hidden; font-size:x-small;}
.visible, .visible:hover, .visible:visited {position:inherit; top:inherit; width:inherit; height:inherit; overflow:inherit; font-size:inherit;}

.oculto:active, .oculto:focus {position:static;width:auto;height:auto;text-align:center;margin:0 auto}

.crop { 
	position: relative;
	overflow: hidden;
//	margin-bottom: 20px;
	-webkit-transition: all 0.5s ease-out;
		 -moz-transition: all 0.5s ease-out;
			 -o-transition: all 0.5s ease-out;
					transition: all 0.5s ease-out;
}
.ellipsis {
//	overflow-y: hidden;
//	text-overflow: ellipsis;
//	white-space: nowrap    ;
// margin-bottom: 20px;

 &:after {
   content:'';
	 display: block;
	 position: absolute;
	 bottom: 0;
	 z-index: 1;
	 width: 100%;
	 height: 60px;
	 background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.34) 13%, rgba(255,255,255,0.8) 33%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.34) 13%,rgba(255,255,255,0.8) 33%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.34) 13%,rgba(255,255,255,0.8) 33%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
 }
}

a.mas, a.menos {
	//position: absolute;
//	bottom: 0;
//	z-index: 10;
display: inline-block;

margin: 10px 0;
	border: 1px solid fade(@color1,60);
	padding: 0 6px 1px 3px;
	border-radius: 3px;
	&:before {
		display: inline-block;
		margin:0 4px 0 0;
		vertical-align: bottom;
		font-size: 16px;

		.icofont-bullet;
		&:extend(#wrap .bullet-caret-down:before );
	}
}
a.menos {
//	bottom:-35px;
	&:before {
		&:extend(#wrap .bullet-caret-up:before );
	}
}


input::placeholder {  font-style: italic; font-size: 14px}
input::-webkit-input-placeholder  { font-style: italic; font-size: 14px}
input:-ms-input-placeholder {font-style: italic; font-size: 14px}
input:-moz-placeholder{font-style: italic; font-size: 14px}

p time {
	font-size: 0.8em;
	font-family: @font-corporativa-ext-med;
	color:@gris5;
	&:after {
		content:'-';
		margin: 0 0.3em;
	}
}


//ocultar la sombra del borde superior
.hide_top_shadow {
	position: relative;
	 &:before {
		 content: '';
		 display: block;
		 width: 100%;
		 background-color: #fff;
		 height: 3px;
		 position: absolute;
		 top:-2px;
	 }
}

//h1 encima de caja_info
.h1_esp {
	h1{
		display: block;
		position: absolute;
		top: -44px;
		right: 15px;
	 font-family: @font-corporativa-headers-heavy;
	 font-size: 50px;
	 text-transform: uppercase;
	 color:#fff;
	 .resplandor (0,0,0,0.5);
	 z-index: 1;
	 text-align: right;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		width:90%;
		height: 10px;
		background-color: #fff;
		top: 0;
		right: 0;
		margin:0 15px;
		z-index: 10;
	}
}


//bullet triangulas para listados
.bullet_tri (@font_size: 12px; @color: @color1) {
	position: relative;
	.icon_bullet(@font_size);
	&:before {
    &:extend(#wrap .bullet-caret-right:before);
  	color: @color;
 }
}


.boton_corp {
	.header_gen(21px);
	border: 1px solid #000;
	padding: 4px 8px;
	text-transform:uppercase;
	color: #000;
	background-color: #fff;
	&:hover {
		border-color: @color1;
		color: @color1;
		background-color: @gris8;
	}
}

/*-------------------------------banners-----------------------------*/

.banners {
	display: flex;
	justify-content: space-between;
	justify-content: space-evenly;
	flex-wrap: wrap;
	li {
	//  flex-basis: auto;
	padding: 15px;
	}
}





#banners {
  padding: 30px 0;
  ul {
    .banners;
    li {flex-basis: 25%;
    a {
      .transition_efect;
      display: inline-block;
      &:hover {.resplandor_box(255,255,255,0.7)}
      }}
    }

}


ul.tags {
	&:before {
		display: inline-block;
		margin: 0 8px 0 0;
		font-size: 20px;
	 // line-height: 16px;
		vertical-align: middle;
		// background-color: #fabada;
		.icofont;
		&:extend(#wrap .icon-etiqueta:before);
		color: @gris4;
	}
	li {
		display: inline-block;
		font-size: 12px;
		font-family: @font-corporativa-sc-rg;
		a {
			color:@gris3;
			border: 1px solid @gris6;
			border-radius: 3px;
			padding:1px 6px 2px 6px;
			&:hover {
				border: 1px solid @color1;
				color: @color1;
				background-color: @gris8;
			}

		 }
	}
}

ul.redes {
	li {
		float: left;
		margin: 0 8px 0 0;
		a {
			color:@gris4;
			font-size: 24px;
			vertical-align: middle;
			&:hover {color: @color1;}
		}
		.burbuja {
			margin: 0 0 0 5px;
			vertical-align: middle;
			display: inline-block;
			font-size: 9px;
			border: 1px solid @gris4;
			padding: 1px 3px;
			border-radius: 3px;
			background-color: #fff;
			position: relative;
			&:before {
				display: block;
				top:4px;
				left:-3px;
				position: absolute;
				width: 5px;
				height: 5px;
				content: '';
				border-bottom: 1px solid @gris4;
				border-left: 1px solid @gris4;
				background-color: #fff;
				transform:rotate(45deg);
			}
		}
	}
}


ul.listado_generico {
	margin: 15px 0;


 > li {
	 .bullet_tri(14px ; @color1);
	 margin: 0 0 15px 5px;

	> ul {
		 margin: 20px 0 5px 0;
		/* float: left;*/
	 	width: 100%;
		> li {
			  margin: 0 0 10px 20px;
				.bullet_tri (12px ; @color1);
				color: @gris2;
				> ul {
					> li {
						  margin:15px 0 5px 15px;
							.bullet_tri (10px);
							&:before {
								&:extend( .bullet-circle:before);
								font-size: 0.28em;
								margin-right: 1em;

							}
							color: @gris3;

					 }

				 }
		 }

	 }
}
}


ol.listado_generico {
	    list-style-type: decimal;
			margin: 15px 0;
			> li {
				list-style-type: decimal;
				margin: 0 0 15px 0;
			}
}



//listado especial con el numeral personalizado. Permite empezar por 0.
 ol.listado_num_pers {
	margin: 15px 0;
	 list-style: none;
	  counter-reset: my-counter ;
		&.zero {
			counter-reset: my-counter -1 ;
		}
		> li {
			list-style: none;
			position: relative;
			padding-left: 15px;
			margin: 0 0 20px 0;
			&:before{
			content: counter(my-counter);
			counter-increment: my-counter;
			position: absolute;
      left: -10px;
      top: -5px;
			.header_gen(20px);
			font-family: @font-corporativa-ext;
		}
			}
}



 ol.listado_generico.decimal {
	    list-style-type: decimal;
			> li {
				list-style-type: decimal;
			}
}

 ol.listaletras {
	 &:extend(ol.listado_generico all);
	    list-style-type: lower-latin;
			> li {
				list-style-type: lower-latin;
			}
}

 ol.num_romanos {
	&:extend(ol.listado_generico all);
	    list-style-type: upper-roman;
			> li {
				list-style-type: upper-roman;
			}
}


/*--------------------definition list--------------------------*/

dl.definition_list_gen {
     .definition_list(40%, 60%);
}


dl.definition_list_esp {
		.definition_list(40%, 60%);
	  border: 1px solid @gris7;
    border-left: 3px solid @color1;
		background-color: @gris8;
		padding: 5px 0;
		dt,dd {padding: 10px 7px }
}



.definition_list (@size1 , @size2) {
	display: block;
	float: left;
	margin: 10px 0 20px 0;
	width: 100%;
	.clearfix;
  dl {
		width: 100%;
	}
	dt,dd {
		display:block;
		float: left;
		line-height: 1.1em;
	}
   dt {
		width: @size1;
		font-weight: normal;
		color:@gris3;
		clear: left;
		text-align: right;
		padding: 5px 7px;
		position: relative;
		&:after {
			content:':';
			display: inline-block;

		}
	}
	dd {
   width:@size2;
	 padding: 5px 7px;
	 word-wrap: break-word;
	 font-family: @font-corporativa-med;
	}
}



.tabla_gen  {
    margin:15px auto;
		overflow-x: hidden;

		table {
				width: 100%;
			  border-bottom: 1px solid @gris5;
			  thead {
					th, td{
						font-family: @font-corporativa-reg;
						font-size: 16px;
						line-height: 18px;
						font-weight: normal;
						color: @gris4;
						padding: 4px 10px;
						border-bottom: 2px solid @color1;
						vertical-align: bottom;
						br + br {display: none;}
					}
				}
				tbody {
					border-top: 1px solid @gris5;
					tr:nth-child(2n+1) {
						background-color: @gris7;
					}
					th, td {
					    border-top: none;
							font-family:Arial, Helvetica, sans-serif;
							font-size:13px;
							padding: 8px 10px;
							p {margin: 0}
					}
					th {
						.header_gen(14px);
					    border-right: 2px solid @color2;
							font-weight: bold;
							color: @gris3;
							border-bottom: none;
					}
				}
				tfoot {
					border-top: 1px solid @gris5;
					tr {
						background-color: @gris6;
						th, td {
							font-family:Arial, Helvetica, sans-serif;
							font-size:13px;
							padding: 10px 10px;
							font-weight: bold;
							p {margin: 0}
						}
					}

				}
		}
}

#wrap & .tabla_agenda {
	    h3{
			  margin-bottom: 4px}
      tbody tr {
				border-bottom: 1px solid @gris5;
				background-color: #fff;
				td {
					text-align: right;
					width: 100px;
					vertical-align:top;
					font-size: 14px;
					line-height: 16px;
					padding: 8px 6px;
					& + td {
							text-align: left;
							width:auto;
							line-height: 20px;
					}
					h4 {
					font-size: 16px;
					color:@color1;
					margin: 0 0 5px 0;
					&.simultaneos {
						width: 100%;
						text-align: center;
						margin-bottom: 10px;
						font-family: @font-corporativa-med;
					}
					 }
					 h5 {
					 font-size: 14px;
						color:@color1;
					 margin: 0 0 5px 0;
						}
						p + h5 {margin-top: 10px;}
				.user{font-family:@font-corporativa-med; color:@color2-oscuro; }
				.cargo {font-style: italic; margin-left: 10px;}
				div{
					.make-sm-column(12);
				}
				}
			}
}


.dotted-line {
	    content:'• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •';
}



.dotted_left {
	    position: relative;
			overflow: hidden;
		&::before {
		 .dotted-line;
			display:block;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 5px;
			color: @gris5;
			font-size: 9px;
			line-height: 7px;
		}
}

.dotted_top{
			overflow: hidden;
		&::before {
		 .dotted-line;
		 display:block;
		 overflow: hidden;
		 color: @gris5;
		 font-size: 9px;
		 line-height: 7px;
		 width: 100%;
		 margin: 0 0 10px 0;
		 text-overflow:clip;
		 height: 5px;
		 white-space: nowrap;
		}
}


.dotted_bottom{
			overflow: hidden;
		&::after {
		 .dotted-line;
		 display:block;
		 overflow: hidden;
		 color: @gris5;
		 font-size: 9px;
		 line-height: 7px;
		 width: 100%;
		 margin: 0 0 10px 0;
		 text-overflow:clip;
		 height: 5px;
		 white-space: nowrap;
		}
}


.transition_efect,
.transition_efect:hover {
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
.no-transition_efect,
.no-transition_efect:hover {
    -webkit-transition: all 0 ease-out;
       -moz-transition: all 0 ease-out;
         -o-transition: all 0 ease-out;
            transition: all 0 ease-out;
}







/*--------------------------contenido generico------------------------------------*/


.container_generico {
     figure {
			 width: 100%;
			 margin: 15px 0;
			 img {
			 max-width: 100%;
			 }
		 }
}

/*----------------pies foto---------------*/

.pie_estatico {
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  figcaption {
    font-size: 12px;
    border-top: 1px solid fade(#fff, 50%);
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: fade(@color1 , 0.8);
    color: #fff;
    top: auto;
    width: 100%;
    background: fade(@color1, 80%) none repeat scroll 0 0;
    span {
        display: block;
        float: left;
        width: 100%;
        padding:0 80px 0 10px;
        text-align: left;
    }
    a.descargar {
       @size: 40px;
       text-align: center;
        float: right;
        margin: -@size 15px 0px 0px;
        color: #fff;
        background: fade(@color1, 80%) none repeat scroll 0 0;
        border-radius: @size/2;
        width: @size;
        height: @size;
        .icon_bullet(30px);
        &:before {&:extend( .bullet-arrow-down:before);}
        span {  .oculto;}
        &:before { margin:5px 0 0  0 ; }
        &:hover{
          background: fade(#fff, 80%) none repeat scroll 0 0;
          color: @color1;
        }
    }
  }

}


.pie_dinamico {
    figcaption {
      bottom: 0;
      left: 0;
      top: auto;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    }
    &:hover, &.cs-hover {
      figcaption {
      	opacity: 1;
      	-webkit-transform: translateY(0px);
      	-moz-transform: translateY(0px);
      	-ms-transform: translateY(0px);
      	transform: translateY(0px);
      	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
      	transition: transform 0.4s, opacity 0.1s;
      }
    }
  }

#twitter-widget-0 {
	max-height: 700px !important;
}





//
