// main: main.less



/*-------------------------------------cabecera superior----------------------------------------------*/


@izq_width:180px;
@dere_width:120px;
@alto_logo:60px;
@alto-cab:80px;

@ancho_m_col: 180px;

.header_group {
  min-width: @min-width;

#header {



.container-fluid {height: 100%; min-height:@alto-cab }

  height:auto;
  min-height: @alto-cab;
	padding:0;
  position: relative;
  background-color: fade(#000, 30%);
  .clearfix;


  .cab-izq {
      width: @izq_width;
      float: left;
			margin:(@alto-cab - @alto_logo)/2  0 0 0;
			padding: 0;
			overflow:inherit;
      .marca_propia {
        margin: 0 0 0 15px;
        img {max-width: 100%;}
      }
  }
  .cab-centro {
  //  height: @alto_logo;
  //  float: left;
   width: 100%;
    padding: 22px @dere_width 0 @izq_width;
    text-align: right;
    .cab-contacto {
       padding:0  15px 0 15px;
        display: inline-block;
        vertical-align: top;

        font-family: @font-corporativa-ext;
         a {
          .transition_efect;
          font-size: 26px;

          color: #fff;
          margin-left: 6px;
          &:hover {
            .transition_efect;
          //  color: @gris7 ;
            .resplandor (255,255,255,0.4)
          }
          span {.oculto;}
       }
    }
    .cab-buscador {
      padding:0  0 0 0;
        display: inline-block;
        vertical-align: top;
      input {
          .sombra-int;
          margin:6px 0 0 0;
          width: 180px;
          padding: 2px 5px 0 5px;
      }
      input.oculto {display: none;}
    }
    .cab-nav {
       padding:0  0 0 0;
       display: inline-block;
       vertical-align: top;
    }
  }

  .cab-dere {
     height: @alto_logo;
     position: absolute;
     right: 15px;
     top: 0;
     width: @dere_width;
     float: right;
     text-align: right;
       height: 100%;


     .cab-login {
       padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        background-color: @color1;
        height:@alto-cab;
        width: 100%;
        height: 100%;
        text-align: center;
        a {
          .transition_efect;
          vertical-align: middle;
          &:before {
            .icofont;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            vertical-align: middle;
            font-size: 30px;
            color: #fff;
          }
          &.login:before {
            &:extend( #wrap .icon-login:before);
          }
          &.config:before {
            &:extend( #wrap .icon-config:before);
          }

          &:hover {.resplandor (255,255,255,0.4)}
        }
        span {
          color: #fff;
          font-size: 13px;
          margin-left: 5px;
          font-style: italic;
          vertical-align: middle;
        }
     }
  }

 } //#header

   @media (max-width: @screen-md)  {
     #header {
       @dere_width:80px;
        .cab-dere  {
          width: @dere_width;
          .cab-login span{ .oculto }
        }
        .cab-centro  {
          padding-right: @dere_width;
        }
     }
   }


    @media (max-width: @screen-sm)  {
      #header {
      .cab-centro {
        padding-top: 0;
        .cab-contacto  {
       width: 100%;
       padding: 2px 17px 0 0;
       }
      .cab-buscador  {
        padding:  0;
        input {width: 150px}
      }
      .cab-nav  {
        padding:  0;
        nav.navbar #navbar {top:39px}
      }
    }
    }
 }

    @media (max-width: @screen-s) {
        @dere_width:80px;
      #header {.clearfix;
      .container-fluid {
        padding: 0;
      }
      .cab-izq {
        width: 100%;
        float: none;
        padding: 0 @dere_width 0 0;
        text-align: center;
        margin-bottom: 5px;
      }
       .cab-centro{
         width: 100%;
         padding: 0 @dere_width 0 0;
         text-align: center;
         position: relative;
         z-index: 500;
         .clearfix;
         clear: left;
         .cab-nav {
           .clearfix;

           nav.navbar {
             position: static;
             #navbar {
             top:37px;
             right: 0;
           }
             }
         }
         .cab-buscador input {width: 110px;}
         .cab-contacto {width: auto;}
       }
       .cab-dere {
         .clearfix;
         height: 100%;
         right: 0;
       }
    }}

    @media (max-width: @screen-xs) {
      #header {
       .cab-centro{
            .cab-contacto {
              width: 100%;
            }
        .cab-nav {
              nav.navbar #navbar {top:71px}
            }
       }
       }
    }



    .colegiado & {
      #header {
      @dere_width: @ancho_m_col;
        .cab-centro {padding-right: @dere_width}
        .cab-dere {
          width: @dere_width;
          .cab-login {
            padding: 0 15px;
              .login {
                width: 60%;
                text-align: left;
                span {.visible;}
              }
              .config {
                width: 40%;
                text-align: right;

                span {.oculto}}
          }
          }
        }



        @media (max-width: 830px)  {
          #header {
          .cab-centro {
            padding-top: 0;
            .cab-contacto  {
           width: 100%;
           padding: 2px 17px 0 0;
           }
          .cab-buscador  {
            padding:  0;
            input {width: 150px}
          }
          .cab-nav  {
            padding:  0;
            nav.navbar #navbar {top:39px}
          }
        }
        }
     }

     @media (max-width: 640px) {
       height: 300px;
       #header {
       min-height: 640px;
       .clearfix;
       .container-fluid {
         padding: 0;
       }
       .cab-izq {
         width: 100%;
         float: none;
         padding: 0 @dere_width 0 0;
         text-align: center;
         margin-bottom: 5px;
       }
        .cab-centro{
          width: 100%;
          padding: 0 @dere_width 0 0;
          text-align: center;
          position: relative;
          z-index: 500;
          .clearfix;
          clear: left;
          .cab-nav {
            .clearfix;
            nav.navbar {
              position: inherit;
              #navbar {
                top: 37px;
                right: 180px;}
              }
          }
          .cab-buscador input {width: 110px;}
          .cab-contacto {width: auto;}
        }
        .cab-dere {
          .clearfix;
          height: 100%;
          right: 0;
        }
        }
     }

     @media (max-width: 560px) {
       height: 340px;
       #header {
        .cab-centro{
             .cab-contacto {
               width: 100%;
             }
             .cab-nav {
               nav.navbar {
                 #navbar {
                   top: 71px;
                 }
                 }
             }
        }
        }
     }

     @media (max-width: @screen-xxs) {
       #header {
       @dere_width: 120px;
       .cab-izq  {
         padding: 0 @dere_width 0 0;
       }
        .cab-centro{
             padding: 0 @dere_width 0 0;
             .cab-nav {
               nav.navbar {
                 #navbar {
                   width: 320px;
                   left: 0;
                   right: inherit;
                 //  position: inherit;
                   ul {
                     width: 100%;
                    position: static;
                    right: inherit;
                    left: inherit;
                    top: inherit;
                    display: block;
                   //  top: inherit;

                   }
                   .publico {

                   }
                 }
                 }
             }
             }
         .cab-dere {
           width:@dere_width;
           .cab-login .login span {.oculto;}
         }
         }
        }
     } //.colegiado
} //#header_group



/*-------------------------fondo cabeceras subhome-------------------------------------*/


.header_group {
  .fondo-aux {
    padding-bottom: 180px;
    background: url("@{images}/fondo_cab_01.jpg") 50% -80px no-repeat transparent ;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    .clearfix;
  }
}
 
/*-------------------------fondo cabecera home-------------------------------------*/

.home .header_group {
  .fondo-aux {
    height: 630px;
      background: url("@{images}/fondo_cab_01.jpg") 50% 0 no-repeat transparent ;
  }
}

/*-------------------------fondo cabecera login-------------------------------------*/

.login .header_group {
  .fondo-aux {
      padding-bottom: 440px;
      background: url("@{images}/fondo_cab_01.jpg") 50% 0 no-repeat transparent ;
  }
}


/*-------------------------fondo cabeceras pagina deta-------------------------------------*/

.pagina_detalle .header_group {
  .fondo-aux {
    height: 190px;
    background: url("@{images}/fondo_cab_01.jpg") 50% -80px no-repeat transparent ;
    	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    .clearfix;
  }
}


//
