// main: main.less

/*-------------------------fondo header home-------------------*/






/*-------------------------primer bloque home----------------------*/


#contenido-principal {

  /*---------------servicios----------------*/
     #mundo_servicios {
       margin-top: -100px;
       min-height: 300px;
       padding: 30px 0;
       position: relative;
       z-index: 10;
       h2{ 
         &:extend(#servicios h1);
       }
       &:before{
         &:extend(#servicios:before);
       }
       h3 {.header_gen(21px);
     	color: #000;}
       >div {
        //

         &.col_no_c {
           .make-sm-column(16);
           padding: 0;
           .clearfix;
           .ciudadanos, .empresas {
            .make-xs-column_mm(12);
            padding: 0 30px;
            .clearfix;
           }
         }
         &.col_c {
           .make-sm-column(8);
           padding: 0 30px;
          // max-width: 410px;
           margin: 0 auto;
         }
         .botonera {
           .clearfix;
           clear: both;
           text-align: center;
           margin-top: 30px;
           float: left;
           width: 100%;
           .boton_corp {
             margin: 0 auto;
            display: inline-block;
           }
         }

         .auto_height{margin: 20px 0 0 0;}
        p {
          font-family:@font-corporativa-headers-light-italic ;
          font-size: 18px;
          color: @gris3;


        }
        ul {
          margin: 20px 0 0 0;
          li {
            margin-bottom: 3px;
            a {
              color: #000;
              font-size: 16px;
              &:hover {color: @color1;}
            }
          }
        }
       }

   @media (max-width: @screen-md) {
           > div {
            h2 {font-size:19px }
            p {font-size: 17px}
          }

         }
   @media (max-width: @screen-sm) {
          #wrap & h2 {font-size:35px; top:-29px}
          div.col_c {
                margin-top: 30px;
                .dotted_top;
                &:before {font-size: 10px; height: 8px; color:@gris4;letter-spacing: 0.05em; margin-bottom: 30px;}
              }
   }
   @media (max-width: @screen-xs) {
         #wrap & h2 {
           top:-57px;
           width: 320px;
           text-overflow: inherit;
           line-height: 0.9em;
         }
             div.col_no_c div.ciudadanos, div.col_no_c div.empresas, div.col_c {padding:0 10px}
              div.empresas {
                margin-top: 30px;
              }
   }
}

/*---------------destacado---------------*/

#destacado {
    ul li + li {
      margin-top: 30px;
      .dotted_top;
      &:before {
        font-size: 10px;
        height: 8px;
        color: @gris4;
        letter-spacing: 0.05em;
        margin-bottom: 30px;
      }
    }
    figure {
      margin: 0 0 15px 0;
      img {max-width: 100%}
      }
      h2, h2 a {
        font-family: @font-corporativa-light;
        font-size: 36px;
        margin: 0 0 15px 0;
        text-transform: none;
        color: @gris3;
        &:hover {
          color: @color1;
        }
      }
      p {
        font-size: 18px;
      }
}



/*-----------agenda-------------------*/


#actualidad {
   min-height: 300px;
   background-color: @gris7;
   border-bottom: 3px solid @gris5;
   padding: 15px;
   h2 {margin: 0 0 15px 15px}
   #agenda {
     padding: 0;
   }


   &.twitter {
     #agenda {
       .make-sm-column(14);
       .make-md-column(16);
       padding: 0 15px 0 0;
       ul li {width: 100%}
     }
   }



   #ultimos-tweets {
       .make-sm-column(10);
       .make-md-column(8);
       height: 600px;
     > div {
     border:1px solid @gris5;
     .calc_f(height, 100%, 45px);
     iframe {
       height: 100% !important;
       max-height: inherit !important;
     }
     @media (max-width: @screen-sm) {
        max-width: 520px;
        margin:0 auto;
       }
     }
   }


      @media (max-width: @screen-md) {
             #agenda ul li {
                //flex-basis: 100%;
                width: 100%;
              }
              &.twitter {
                #agenda {padding: 0;  margin-bottom: 30px;  }

              }
          }
       @media (max-width: @screen-is) {
               #agenda ul li {padding: 0}
       }
       @media (max-width: @screen-sm) {
              #ultimos-tweets {padding: 0}
       }
       @media (max-width: @screen-xxs) {
            padding: 15px 8px;
       }

}


/*------------------------destacamos--------------------------------*/

 #destacamos {
        ul.lista_dest {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          margin: 0 -15px;
         >li {
           list-style: none;
           //flex-basis: 33%;
           width: 33%;
           padding: 15px;
           h3 {margin: 0 0 8px 0;
           a {font-family:@font-corporativa-med; }	}
           figure {
             width: 100%;
             height: 257px;
             position: relative;
             text-align: center;
             overflow: hidden;
             margin: 0 0 15px 0;
             border: 1px solid @gris5;
             img {
               position: absolute;
               left: 50%;
               top: 50%;
               height: 100%;
               width: auto;
               -webkit-transform: translate(-50%,-50%);
                   -ms-transform: translate(-50%,-50%);
                        transform: translate(-50%,-50%);
             }
           }

           &.colegiado {
             background-color: @color1;
             color:#fff;
             a {color: #fff;}
             ul.tags {
               &:before {color: #fff;}
               li a {
                 border:1px solid #fff;
                 color:#fff;
                 &:hover{color: @color1; }
               }
             }
             ul.redes li {
                    a {
                      color: #fff;
                      position: relative;
                      display: inline-block;
                      width: 24px;
                      height: 30px;
                      &:before {z-index: 10; position: absolute;}
                      &:after {
                      content:'';
                      display: block;
                      position: absolute;
                      width: 19px;
                      height: 19px;
                      background-color: @color1;
                      top: 7px;
                      left: 3px;
                      z-index: 0;
                      border-radius: 3px;
                    }
                    &:hover {
                      color: @color1;
                      &:after{
                        background-color: #fff;
                      }
                    }
                    }
                    .burbuja {
                      border: 1px solid #fff;
                      background-color: @color1;
                      color:#fff;
                      &:before {border-color: #fff; background-color: @color1;}
                    }

             }
           }
         }
       }
       @media (max-width: @screen-md) {
               ul.lista_dest>li {width: 50%;}
           }
       @media (max-width: @screen-s) {
               ul.lista_dest>li {width: 100%;}
               }
      @media (max-width: @screen-xs) {
              ul.lista_dest { margin: 0;
              >  li {padding: 15px 0; }
              }
                }
        @media(max-width: @screen-xxs) {
          h2 {padding: 0 8px}
             ul.lista_dest {
               margin: 0;
                >li  {

                 .detalle {padding:0 8px}
                }
               }
        }

}

}

/*----------------------------bloque BIA y Observatorio 2020-----------------------------*/


#cont_destacado {
  padding: 20px 15px 30px 15px;
  h2 {margin: 0 0 15px 0}
      #revista_BIA {
        .make-md-column(14);
        figure {
          width: 220px;
          float: left;
          img {
            width: 100%;
          }
        }
        .detalle {
         width: 100%;
         padding: 0 0 0 240px;
         ul {
           &:extend(ul.listado_generico all);
           li a { color:#000;
           &:hover {color: @color1;}}
           }
           .ultima_bia {
             color: #000;
             font-family: @font-corporativa-sb;
             &:hover {color: @color1;}
             img {vertical-align: middle; margin: 0 15px 0 8px}
           }
        }
      }
      #observatorio_2020 {
        .make-md-column(10);
        ul {
          &:extend(ul.listado_generico all);
          }
      }
      @media (max-width: @screen-md) {
        #observatorio_2020  {
          margin-top: 30px;
          .dotted_top;
          &:before {font-size: 10px; height: 8px; color:@gris4; letter-spacing: 0.05em}
        }
          }
      @media (max-width: @screen-s) {
            #revista_BIA {
              figure{
                width: 100%;
                padding: 0 15px 15px 15px;
                text-align: center;
                 img {width: auto; max-width: 100%;}
              }
              .detalle {width: 100%; padding: 0}
            }
          }
        @media(max-width: @screen-xxs) {
          padding: 20px 0;
          #revista_BIA, #observatorio_2020 {
            padding: 0 8px;
          }
        }
  }


/*-------------------------grupo aparejadores------------------------------*/

#grupo {
          h2 {margin: 0 0 15px 0}
          ul {
            .banners;
            a {
              img {.transition_efect;}
              &:hover img{.escalado(1.1)}
            }
            }
            @media(max-width: @screen-xxs) {
              h2 {padding: 0 8px}
            }

          }





























//
