// main: main.less



#wrap [class^="icon-"]:before, #wrap [class*=" icon-"]:before, .icofont {
  font-family: 'icon-coaatm' !important;
}

#wrap [class^="file-"]:before, #wrap [class*=" file-"]:before, .icofont-file {
  font-family: 'icofont-files' !important;
}

#wrap [class^="bullet-"]:before, #wrap [class*=" bullet-"]:before, .icofont-bullet {
  font-family: 'icofont-bullets' !important;
}

#wrap [class^="brand-"]:before, #wrap [class*=" brand-"]:before, .icofont-brand  {
  font-family: 'icofont-brands' !important;
}

#wrap [class^="icon-"]:before, #wrap [class*=" icon-"]:before, .icofont,
#wrap [class^="file-"]:before, #wrap [class*=" file-"]:before, .icofont-file,
#wrap [class^="bullet-"]:before, #wrap [class*=" bullet-"]:before, .icofont-bullet,
#wrap [class^="brand-"]:before, #wrap [class*=" brand-"]:before, .icofont-brand  {

  font-style: normal;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-----------------------iconos gen----------------------------*/



#wrap {

  .icon-alerta:before {
    content: "\e901";
  }
  .icon-alhambra:before {
    content: "\e902";
  }
  .icon-aparejador:before {
    content: "\e903";
  }
  .icon-apartmentos:before {
    content: "\e904";
  }
  .icon-aprendizaje-en-linea:before {
    content: "\e905";
  }
  .icon-aqueducto:before {
    content: "\e906";
  }
  .icon-arquiterctura_cotas:before {
    content: "\e907";
  }
  .icon-atencion_cliente01:before {
    content: "\e908";
  }
  .icon-balanza-ley:before {
    content: "\e909";
  }
  .icon-bandera:before {
    content: "\e90a";
  }
  .icon-birrete:before {
    content: "\e90b";
  }
  .icon-botiquin:before {
    content: "\e90c";
  }
  .icon-businessman01:before {
    content: "\e90d";
  }
  .icon-businessman02:before {
    content: "\e90e";
  }
  .icon-businesswoman:before {
    content: "\e90f";
  }
  .icon-caballo_ajedrez:before {
    content: "\e910";
  }
  .icon-calculadora:before {
    content: "\e911";
  }
  .icon-calculadora02:before {
    content: "\e912";
  }
  .icon-calendar_reloj:before {
    content: "\e913";
  }
  .icon-calendar-check:before {
    content: "\e914";
  }
  .icon-calendario:before {
    content: "\e915";
  }
  .icon-camera:before {
    content: "\e916";
  }
  .icon-camera-diafragma:before {
    content: "\e917";
  }
  .icon-campana:before {
    content: "\e918";
  }
  .icon-casa_enchufe:before {
    content: "\e919";
  }
  .icon-casa_seguro:before {
    content: "\e91a";
  }
  .icon-certificado:before {
    content: "\e91b";
  }
  .icon-ciudad:before {
    content: "\e91c";
  }
  .icon-coche:before {
    content: "\e91d";
  }
  .icon-compas_aparejadores:before {
    content: "\e91e";
  }
  .icon-compass:before {
    content: "\e91f";
  }
  .icon-compass-limbo:before {
    content: "\e920";
  }
  .icon-config:before {
    content: "\e921";
  }
  .icon-cono_obra:before {
    content: "\e922";
  }
  .icon-contrato_casa:before {
    content: "\e923";
  }
  .icon-contrato_casa02:before {
    content: "\e924";
  }
  .icon-cristal_nieve:before {
    content: "\e925";
  }
  .icon-descargar-libros:before {
    content: "\e926";
  }
  .icon-device-connected:before {
    content: "\e927";
  }
  .icon-device-connected-1:before {
    content: "\e928";
  }
  .icon-discapacitado:before {
    content: "\e929";
  }
  .icon-edificio:before {
    content: "\e92a";
  }
  .icon-email:before {
    content: "\e92b";
  }
  .icon-estadisticas:before {
    content: "\e92c";
  }
  .icon-etiqueta:before {
    content: "\e92d";
  }
  .icon-etiquetas:before {
    content: "\e92e";
  }
  .icon-euro:before {
    content: "\e92f";
  }
  .icon-euro-condiciones:before {
    content: "\e930";
  }
  .icon-examen:before {
    content: "\e931";
  }
  .icon-ficha_hombre:before {
    content: "\e932";
  }
  .icon-ficha_mujer:before {
    content: "\e933";
  }
  .icon-first-place:before {
    content: "\e934";
  }
  .icon-formacion-presencial:before {
    content: "\e935";
  }
  .icon-geolocalization:before {
    content: "\e936";
  }
  .icon-globe:before {
    content: "\e937";
  }
  .icon-gps_situacion:before {
    content: "\e938";
  }
  .icon-grupo:before {
    content: "\e939";
  }
  .icon-hombre_corbata:before {
    content: "\e93a";
  }
  .icon-home:before {
    content: "\e93b";
  }
  .icon-house-plan:before {
    content: "\e93c";
  }
  .icon-ico_registros-formacion:before {
    content: "\e93d";
  }
  .icon-icon:before {
    content: "\e93e";
  }
  .icon-id-card-1:before {
    content: "\e93f";
  }
  .icon-id-card-2:before {
    content: "\e940";
  }
  .icon-indicadores_carretera:before {
    content: "\e941";
  }
  .icon-info:before {
    content: "\e942";
  }
  .icon-job-search-symbol-of-a-hand-holding-cv:before {
    content: "\e943";
  }
  .icon-lab:before {
    content: "\e944";
  }
  .icon-lecturer-with-screen:before {
    content: "\e945";
  }
  .icon-libro:before {
    content: "\e946";
  }
  .icon-libro02:before {
    content: "\e947";
  }
  .icon-llama:before {
    content: "\e948";
  }
  .icon-llama02:before {
    content: "\e949";
  }
  .icon-llave:before {
    content: "\e94a";
  }
  .icon-llave02:before {
    content: "\e94b";
  }
  .icon-lock:before {
    content: "\e94c";
  }
  .icon-login:before {
    content: "\e94d";
  }
  .icon-lupa01:before {
    content: "\e94e";
  }
  .icon-magnet:before {
    content: "\e94f";
  }
  .icon-mano_bombilla:before {
    content: "\e950";
  }
  .icon-mazo-ley:before {
    content: "\e951";
  }
  .icon-medal:before {
    content: "\e952";
  }
  .icon-microfono:before {
    content: "\e953";
  }
  .icon-microfono_silencio:before {
    content: "\e954";
  }
  .icon-microscopio:before {
    content: "\e955";
  }
  .icon-movil_hombre:before {
    content: "\e956";
  }
  .icon-movil_mujer:before {
    content: "\e957";
  }
  .icon-movil01:before {
    content: "\e958";
  }
  .icon-movil02:before {
    content: "\e959";
  }
  .icon-mundo:before {
    content: "\e95a";
  }
  .icon-nube:before {
    content: "\e95b";
  }
  .icon-nube_check:before {
    content: "\e95c";
  }
  .icon-nube_down:before {
    content: "\e95d";
  }
  .icon-nube_up:before {
    content: "\e95e";
  }
  .icon-panel_solar:before {
    content: "\e95f";
  }
  .icon-paper-plane:before {
    content: "\e960";
  }
  .icon-prismaticos:before {
    content: "\e961";
  }
  .icon-puzzle:before {
    content: "\e962";
  }
  .icon-puzzle-piece:before {
    content: "\e963";
  }
  .icon-radio-control:before {
    content: "\e964";
  }
  .icon-reloj:before {
    content: "\e965";
  }
  .icon-reloj_arena:before {
    content: "\e966";
  }
  .icon-search:before {
    content: "\e967";
  }
  .icon-security-camera:before {
    content: "\e968";
  }
  .icon-segovia:before {
    content: "\e969";
  }
  .icon-sello:before {
    content: "\e96a";
  }
  .icon-semadoro:before {
    content: "\e96b";
  }
  .icon-settings:before {
    content: "\e96c";
  }
  .icon-siluetas_hombre_mujer:before {
    content: "\e96d";
  }
  .icon-speech:before {
    content: "\e96e";
  }
  .icon-tablet:before {
    content: "\e96f";
  }
  .icon-telescopio:before {
    content: "\e970";
  }
  .icon-unlocked:before {
    content: "\e971";
  }
  .icon-verification-list:before {
    content: "\e972";
  }
  .icon-walkie_talkie:before {
    content: "\e973";
  }
  .icon-biblioteca:before {
    content: "\e974";
  }
  .icon-aislamiento:before {
    content: "\e975";
  }
  .icon-articulo_pdf:before {
    content: "\e976";
  }
  .icon-articulo_tecnico:before {
    content: "\e977";
  }
  .icon-buzon_consultas:before {
    content: "\e978";
  }
  .icon-calidad_europea:before {
    content: "\e979";
  }
  .icon-carpinteria:before {
    content: "\e97a";
  }
  .icon-casco_obra:before {
    content: "\e97b";
  }
  .icon-cimentacion:before {
    content: "\e97c";
  }
  .icon-comunidad_madrid:before {
    content: "\e97d";
  }
  .icon-cubiertas:before {
    content: "\e97e";
  }
  .icon-decision-making:before {
    content: "\e97f";
  }
  .icon-documento_adicional:before {
    content: "\e980";
  }
  .icon-documento_basico:before {
    content: "\e981";
  }
  .icon-documento_calidad:before {
    content: "\e982";
  }
  .icon-documento_loe:before {
    content: "\e983";
  }
  .icon-documento_tecnico_aux:before {
    content: "\e984";
  }
  .icon-estatal:before {
    content: "\e985";
  }
  .icon-grua:before {
    content: "\e986";
  }
  .icon-herramienta_apoyo:before {
    content: "\e987";
  }
  .icon-hormigon:before {
    content: "\e988";
  }
  .icon-info_docu:before {
    content: "\e989";
  }
  .icon-info_empresas:before {
    content: "\e98a";
  }
  .icon-info_tecnica:before {
    content: "\e98b";
  }
  .icon-ladrillos:before {
    content: "\e98c";
  }
  .icon-llave_inglesa:before {
    content: "\e98d";
  }
  .icon-medio_ambiente:before {
    content: "\e992";
  }
  .icon-normativa_docu:before {
    content: "\e993";
  }
  .icon-paleta:before {
    content: "\e994";
  }
  .icon-portfolio:before {
    content: "\e995";
  } 
  .icon-prevencion_incendios:before {
    content: "\e996";
  }
  .icon-sede:before {
    content: "\e997";
  }
  .icon-servicios:before {
    content: "\e998";
  }
  .icon-subvencion:before {
    content: "\e999";
  }
  .icon-urbanismo:before {
    content: "\e99a";
  }
  .icon-aeropuerto:before {
    content: "\e900";
  }
  .icon-madrid:before {
    content: "\e98e";
  }


}


/*--------------brands-------------------*/

#wrap .brand-blog-square:before {
  content: "\e91b";
}
#wrap .brand-flickr-square:before {
  content: "\e91c";
}
#wrap .brand-base-square:before {
  content: "\e91d";
}

#wrap .brand-android:before {
  content: "\e900";
}
#wrap .brand-apple:before {
  content: "\e901";
}
#wrap .brand-facebook:before {
  content: "\e902";
}
#wrap .brand-facebook-f:before {
  content: "\e903";
}
#wrap .brand-facebook-official:before {
  content: "\e904";
}
#wrap .brand-facebook-square:before {
  content: "\e905";
}
#wrap .brand-google:before {
  content: "\e906";
}
#wrap .brand-google-plus:before {
  content: "\e907";
}
#wrap .brand-google-plus-square:before {
  content: "\e908";
}
#wrap .brand-html5:before {
  content: "\e909";
}
#wrap .brand-instagram-square:before {
  content: "\e90a";
}
#wrap .brand-internet-explorer:before {
  content: "\e90b";
}
#wrap .brand-linkedin:before {
  content: "\e90c";
}
#wrap .brand-linkedin-square:before {
  content: "\e90d";
}
#wrap .brand-pinterest:before {
  content: "\e90e";
}
#wrap .brand-pinterest-p:before {
  content: "\e90f";
}
#wrap .brand-pinterest-square:before {
  content: "\e910";
}
#wrap .brand-rss:before {
  content: "\e911";
}
#wrap .brand-rss-square:before {
  content: "\e912";
}
#wrap .brand-skype:before {
  content: "\e913";
}
#wrap .brand-twitter:before {
  content: "\e914";
}
#wrap .brand-twitter-square:before {
  content: "\e915";
}
#wrap .brand-vimeo:before {
  content: "\e916";
}
#wrap .brand-vimeo-square:before {
  content: "\e917";
}
#wrap .brand-whatsapp:before {
  content: "\e918";
}
#wrap .brand-wikipedia-w:before {
  content: "\e919";
}
#wrap .brand-youtube-square:before {
  content: "\e91a";
}




/*------------------bullets---------------------------*/

#wrap .bullet-enlarge:before {
  content: "\e900";
}
#wrap .bullet-shrink:before {
  content: "\e901";
}
#wrap .bullet-enlarge2:before {
  content: "\e902";
}
#wrap .bullet-shrink2:before {
  content: "\e903";
}
#wrap .bullet-add-button-inside-black-circle:before {
  content: "\e904";
}
#wrap .bullet-add-plus-button:before {
  content: "\e905";
}
#wrap .bullet-adjust:before {
  content: "\e906";
}
#wrap .bullet-adjust-button-with-plus-and-minus:before {
  content: "\e907";
}
#wrap .bullet-angle-double-down:before {
  content: "\e908";
}
#wrap .bullet-angle-double-left:before {
  content: "\e909";
}
#wrap .bullet-angle-double-right:before {
  content: "\e90a";
}
#wrap .bullet-angle-double-up:before {
  content: "\e90b";
}
#wrap .bullet-angle-down:before {
  content: "\e90c";
}
#wrap .bullet-angle-left:before {
  content: "\e90d";
}
#wrap .bullet-angle-right:before {
  content: "\e90e";
}
#wrap .bullet-angle-up:before {
  content: "\e90f";
}
#wrap .bullet-arrow-circle-down:before {
  content: "\e910";
}
#wrap .bullet-arrow-circle-left:before {
  content: "\e911";
}
#wrap .bullet-arrow-circle-o-down:before {
  content: "\e912";
}
#wrap .bullet-arrow-circle-o-left:before {
  content: "\e913";
}
#wrap .bullet-arrow-circle-o-right:before {
  content: "\e914";
}
#wrap .bullet-arrow-circle-o-up:before {
  content: "\e915";
}
#wrap .bullet-arrow-circle-right:before {
  content: "\e916";
}
#wrap .bullet-arrow-circle-up:before {
  content: "\e917";
}
#wrap .bullet-arrow-down:before {
  content: "\e918";
}
#wrap .bullet-arrow-left:before {
  content: "\e919";
}
#wrap .bullet-arrow-right:before {
  content: "\e91a";
}
#wrap .bullet-arrows:before {
  content: "\e91b";
}
#wrap .bullet-arrows-alt:before {
  content: "\e91c";
}
#wrap .bullet-arrows-h:before {
  content: "\e91d";
}
#wrap .bullet-arrows-v:before {
  content: "\e91e";
}
#wrap .bullet-arrow-up:before {
  content: "\e91f";
}
#wrap .bullet-asterisk:before {
  content: "\e920";
}
#wrap .bullet-back-arrow:before {
  content: "\e921";
}
#wrap .bullet-backward:before {
  content: "\e922";
}
#wrap .bullet-black-check-box-with-white-check:before {
  content: "\e923";
}
#wrap .bullet-blank-check-box:before {
  content: "\e924";
}
#wrap .bullet-call-made-right-arrow:before {
  content: "\e925";
}
#wrap .bullet-call-received-arrow:before {
  content: "\e926";
}
#wrap .bullet-cancel-button:before {
  content: "\e927";
}
#wrap .bullet-caps-lock-button:before {
  content: "\e928";
}
#wrap .bullet-caret-down:before {
  content: "\e929";
}
#wrap .bullet-caret-left:before {
  content: "\e92a";
}
#wrap .bullet-caret-right:before {
  content: "\e92b";
}
#wrap .bullet-caret-square-o-down:before {
  content: "\e92c";
}
#wrap .bullet-caret-square-o-left:before {
  content: "\e92d";
}
#wrap .bullet-caret-square-o-right:before {
  content: "\e92e";
}
#wrap .bullet-caret-square-o-up:before {
  content: "\e92f";
}
#wrap .bullet-caret-up:before {
  content: "\e930";
}
#wrap .bullet-cell-phone-high-signal-indicator:before {
  content: "\e931";
}
#wrap .bullet-chain:before {
  content: "\e932";
}
#wrap .bullet-change-power-options:before {
  content: "\e933";
}
#wrap .bullet-check:before {
  content: "\e934";
}
#wrap .bullet-check-box:before {
  content: "\e935";
}
#wrap .bullet-check-circle:before {
  content: "\e936";
}
#wrap .bullet-check-circle-o:before {
  content: "\e937";
}
#wrap .bullet-check-square:before {
  content: "\e938";
}
#wrap .bullet-check-square-o:before {
  content: "\e939";
}
#wrap .bullet-check-symbol:before {
  content: "\e93a";
}
#wrap .bullet-chevron-circle-down:before {
  content: "\e93b";
}
#wrap .bullet-chevron-circle-left:before {
  content: "\e93c";
}
#wrap .bullet-chevron-circle-right:before {
  content: "\e93d";
}
#wrap .bullet-chevron-circle-up:before {
  content: "\e93e";
}
#wrap .bullet-chevron-down:before {
  content: "\e93f";
}
#wrap .bullet-chevron-left:before {
  content: "\e940";
}
#wrap .bullet-chevron-right:before {
  content: "\e941";
}
#wrap .bullet-chevron-up:before {
  content: "\e942";
}
#wrap .bullet-circle:before {
  content: "\e943";
}
#wrap .bullet-circle-o:before {
  content: "\e944";
}
#wrap .bullet-circle-o-notch:before {
  content: "\e945";
}
#wrap .bullet-circle-outline:before {
  content: "\e946";
}
#wrap .bullet-circle-thin:before {
  content: "\e947";
}
#wrap .bullet-circle-with-check-symbol:before {
  content: "\e948";
}
#wrap .bullet-circumference:before {
  content: "\e949";
}
#wrap .bullet-clear-button:before {
  content: "\e94a";
}
#wrap .bullet-clone:before {
  content: "\e94b";
}
#wrap .bullet-close:before {
  content: "\e94c";
}
#wrap .bullet-close-button:before {
  content: "\e94d";
}
#wrap .bullet-compress:before {
  content: "\e94e";
}
#wrap .bullet-crop-button:before {
  content: "\e94f";
}
#wrap .bullet-do-not-disturb-rounded-sign:before {
  content: "\e950";
}
#wrap .bullet-download-button:before {
  content: "\e951";
}
#wrap .bullet-downwards-arrow-key:before {
  content: "\e952";
}
#wrap .bullet-drop-down-arrow:before {
  content: "\e953";
}
#wrap .bullet-drop-down-round-button:before {
  content: "\e954";
}
#wrap .bullet-drop-up-arrow:before {
  content: "\e955";
}
#wrap .bullet-eject:before {
  content: "\e956";
}
#wrap .bullet-ellipsis-h:before {
  content: "\e957";
}
#wrap .bullet-ellipsis-v:before {
  content: "\e958";
}
#wrap .bullet-exchange:before {
  content: "\e959";
}
#wrap .bullet-exclamation:before {
  content: "\e95a";
}
#wrap .bullet-exclamation-circle:before {
  content: "\e95b";
}
#wrap .bullet-exclamation-triangle:before {
  content: "\e95c";
}
#wrap .bullet-expand:before {
  content: "\e95d";
}
#wrap .bullet-expand-arrow:before {
  content: "\e95e";
}
#wrap .bullet-expand-button:before {
  content: "\e95f";
}
#wrap .bullet-external-link:before {
  content: "\e960";
}
#wrap .bullet-external-link-square:before {
  content: "\e961";
}
#wrap .bullet-fast-forward-button:before {
  content: "\e962";
}
#wrap .bullet-filled-circle:before {
  content: "\e963";
}
#wrap .bullet-folder-symbol:before {
  content: "\e964";
}
#wrap .bullet-forward-arrow:before {
  content: "\e965";
}
#wrap .bullet-forward-right-arrow-button:before {
  content: "\e966";
}
#wrap .bullet-full-screen-exit:before {
  content: "\e967";
}
#wrap .bullet-get-directions-button:before {
  content: "\e968";
}
#wrap .bullet-get-pocket:before {
  content: "\e969";
}
#wrap .bullet-go-back-left-arrow:before {
  content: "\e96a";
}
#wrap .bullet-google-apps-script-logo:before {
  content: "\e96b";
}
#wrap .bullet-import-export-arrows:before {
  content: "\e96c";
}
#wrap .bullet-keyboard-left-arrow-button:before {
  content: "\e96d";
}
#wrap .bullet-keyboard-right-arrow-button:before {
  content: "\e96e";
}
#wrap .bullet-left-arrow-key-1:before {
  content: "\e96f";
}
#wrap .bullet-left-arrow-missed-call:before {
  content: "\e970";
}
#wrap .bullet-location-arrow:before {
  content: "\e971";
}
#wrap .bullet-long-arrow-down:before {
  content: "\e972";
}
#wrap .bullet-long-arrow-left:before {
  content: "\e973";
}
#wrap .bullet-long-arrow-right:before {
  content: "\e974";
}
#wrap .bullet-long-arrow-up:before {
  content: "\e975";
}
#wrap .bullet-mail-forward:before {
  content: "\e976";
}
#wrap .bullet-mail-reply:before {
  content: "\e977";
}
#wrap .bullet-move-window:before {
  content: "\e978";
}
#wrap .bullet-play:before {
  content: "\e979";
}
#wrap .bullet-play-circle:before {
  content: "\e97a";
}
#wrap .bullet-play-circle-o:before {
  content: "\e97b";
}
#wrap .bullet-plus:before {
  content: "\e97c";
}
#wrap .bullet-plus-circle:before {
  content: "\e97d";
}
#wrap .bullet-plus-square:before {
  content: "\e97e";
}
#wrap .bullet-plus-square-o:before {
  content: "\e97f";
}
#wrap .bullet-power-off:before {
  content: "\e980";
}
#wrap .bullet-previous-track:before {
  content: "\e981";
}
#wrap .bullet-progress-indicator:before {
  content: "\e982";
}
#wrap .bullet-refresh-button:before {
  content: "\e983";
}
#wrap .bullet-refresh-button-1:before {
  content: "\e984";
}
#wrap .bullet-remove:before {
  content: "\e985";
}
#wrap .bullet-repeat:before {
  content: "\e986";
}
#wrap .bullet-replay-arrow:before {
  content: "\e987";
}
#wrap .bullet-reply:before {
  content: "\e988";
}
#wrap .bullet-reply-all-button:before {
  content: "\e989";
}
#wrap .bullet-report-symbol:before {
  content: "\e98a";
}
#wrap .bullet-rewind-button:before {
  content: "\e98b";
}
#wrap .bullet-right-arrow-forward:before {
  content: "\e98c";
}
#wrap .bullet-rotate-left:before {
  content: "\e98d";
}
#wrap .bullet-rotate-right:before {
  content: "\e98e";
}
#wrap .bullet-rotate-to-left-button:before {
  content: "\e98f";
}
#wrap .bullet-rotate-to-right-button:before {
  content: "\e990";
}
#wrap .bullet-round-add-button:before {
  content: "\e991";
}
#wrap .bullet-round-data-usage-symbol:before {
  content: "\e992";
}
#wrap .bullet-round-delete-button:before {
  content: "\e993";
}
#wrap .bullet-rounded-adjust-button-with-plus-and-minus:before {
  content: "\e994";
}
#wrap .bullet-rounded-pause-button:before {
  content: "\e995";
}
#wrap .bullet-rounded-remove-button:before {
  content: "\e996";
}
#wrap .bullet-round-error-symbol:before {
  content: "\e997";
}
#wrap .bullet-round-info-button:before {
  content: "\e998";
}
#wrap .bullet-round-pause-button:before {
  content: "\e999";
}
#wrap .bullet-round-remove-button:before {
  content: "\e99a";
}
#wrap .bullet-round-rgb-button:before {
  content: "\e99b";
}
#wrap .bullet-share:before {
  content: "\e99c";
}
#wrap .bullet-share-square:before {
  content: "\e99d";
}
#wrap .bullet-share-square-o:before {
  content: "\e99e";
}
#wrap .bullet-show-less-fold-button:before {
  content: "\e99f";
}
#wrap .bullet-show-more-button:before {
  content: "\e9a0";
}
#wrap .bullet-shuffle-mode-arrows:before {
  content: "\e9a1";
}
#wrap .bullet-si-glyph-arrow-backward:before {
  content: "\e9a2";
}
#wrap .bullet-si-glyph-arrow-change:before {
  content: "\e9a3";
}
#wrap .bullet-si-glyph-arrow-circle-rycycle:before {
  content: "\e9a4";
}
#wrap .bullet-si-glyph-arrow-down:before {
  content: "\e9a5";
}
#wrap .bullet-si-glyph-arrow-forward:before {
  content: "\e9a6";
}
#wrap .bullet-si-glyph-arrow-four-way:before {
  content: "\e9a7";
}
#wrap .bullet-si-glyph-arrow-fullscreen:before {
  content: "\e9a8";
}
#wrap .bullet-si-glyph-arrow-fullscreen-2:before {
  content: "\e9a9";
}
#wrap .bullet-si-glyph-arrow-left:before {
  content: "\e9aa";
}
#wrap .bullet-si-glyph-arrow-left-right:before {
  content: "\e9ab";
}
#wrap .bullet-si-glyph-arrow-move:before {
  content: "\e9ac";
}
#wrap .bullet-si-glyph-arrow-reload:before {
  content: "\e9ad";
}
#wrap .bullet-si-glyph-arrow-resize-1:before {
  content: "\e9ae";
}
#wrap .bullet-si-glyph-arrow-resize-2:before {
  content: "\e9af";
}
#wrap .bullet-si-glyph-arrow-resize-3:before {
  content: "\e9b0";
}
#wrap .bullet-si-glyph-arrow-resize-4:before {
  content: "\e9b1";
}
#wrap .bullet-si-glyph-arrow-resize-5:before {
  content: "\e9b2";
}
#wrap .bullet-si-glyph-arrow-resize-6:before {
  content: "\e9b3";
}
#wrap .bullet-si-glyph-arrow-right:before {
  content: "\e9b4";
}
#wrap .bullet-si-glyph-arrow-shuffle:before {
  content: "\e9b5";
}
#wrap .bullet-si-glyph-arrow-thick-down:before {
  content: "\e9b6";
}
#wrap .bullet-si-glyph-arrow-thick-left:before {
  content: "\e9b7";
}
#wrap .bullet-si-glyph-arrow-thick-right:before {
  content: "\e9b8";
}
#wrap .bullet-si-glyph-arrow-thick-thin-down:before {
  content: "\e9b9";
}
#wrap .bullet-si-glyph-arrow-thick-thin-up:before {
  content: "\e9ba";
}
#wrap .bullet-si-glyph-arrow-thick-up:before {
  content: "\e9bb";
}
#wrap .bullet-si-glyph-arrow-thin-down:before {
  content: "\e9bc";
}
#wrap .bullet-si-glyph-arrow-thin-left:before {
  content: "\e9bd";
}
#wrap .bullet-si-glyph-arrow-thin-left-bottom:before {
  content: "\e9be";
}
#wrap .bullet-si-glyph-arrow-thin-left-top:before {
  content: "\e9bf";
}
#wrap .bullet-si-glyph-arrow-thin-right:before {
  content: "\e9c0";
}
#wrap .bullet-si-glyph-arrow-thin-right-bottom:before {
  content: "\e9c1";
}
#wrap .bullet-si-glyph-arrow-thin-right-top:before {
  content: "\e9c2";
}
#wrap .bullet-si-glyph-arrow-thin-up:before {
  content: "\e9c3";
}
#wrap .bullet-si-glyph-arrow-three-way-1:before {
  content: "\e9c4";
}
#wrap .bullet-si-glyph-arrow-three-way-2:before {
  content: "\e9c5";
}
#wrap .bullet-si-glyph-arrow-triangle-recycle:before {
  content: "\e9c6";
}
#wrap .bullet-si-glyph-arrow-two-left-right:before {
  content: "\e9c7";
}
#wrap .bullet-si-glyph-arrow-two-up:before {
  content: "\e9c8";
}
#wrap .bullet-si-glyph-arrow-two-way:before {
  content: "\e9c9";
}
#wrap .bullet-si-glyph-arrow-two-way-left-right:before {
  content: "\e9ca";
}
#wrap .bullet-si-glyph-arrow-two-way-right:before {
  content: "\e9cb";
}
#wrap .bullet-si-glyph-arrow-two-way-right-bottom:before {
  content: "\e9cc";
}
#wrap .bullet-si-glyph-arrow-up:before {
  content: "\e9cd";
}
#wrap .bullet-si-glyph-arrow-up-down:before {
  content: "\e9ce";
}
#wrap .bullet-si-glyph-button-arrow-down:before {
  content: "\e9cf";
}
#wrap .bullet-si-glyph-button-arrow-left:before {
  content: "\e9d0";
}
#wrap .bullet-si-glyph-button-arrow-right:before {
  content: "\e9d1";
}
#wrap .bullet-si-glyph-button-arrow-up:before {
  content: "\e9d2";
}
#wrap .bullet-si-glyph-circle:before {
  content: "\e9d3";
}
#wrap .bullet-si-glyph-circle-backward:before {
  content: "\e9d4";
}
#wrap .bullet-si-glyph-circle-control-pad:before {
  content: "\e9d5";
}
#wrap .bullet-si-glyph-circle-drashed:before {
  content: "\e9d6";
}
#wrap .bullet-si-glyph-circle-error:before {
  content: "\e9d7";
}
#wrap .bullet-si-glyph-circle-forward:before {
  content: "\e9d8";
}
#wrap .bullet-si-glyph-circle-load-left:before {
  content: "\e9d9";
}
#wrap .bullet-si-glyph-circle-load-right:before {
  content: "\e9da";
}
#wrap .bullet-si-glyph-circle-plus:before {
  content: "\e9db";
}
#wrap .bullet-si-glyph-circle-remove:before {
  content: "\e9dc";
}
#wrap .bullet-si-glyph-circle-star:before {
  content: "\e9dd";
}
#wrap .bullet-si-glyph-circle-triangle-down:before {
  content: "\e9de";
}
#wrap .bullet-si-glyph-circle-triangle-left:before {
  content: "\e9df";
}
#wrap .bullet-si-glyph-circle-triangle-right:before {
  content: "\e9e0";
}
#wrap .bullet-sign-in:before {
  content: "\e9e1";
}
#wrap .bullet-sign-out:before {
  content: "\e9e2";
}
#wrap .bullet-sort:before {
  content: "\e9e3";
}
#wrap .bullet-sort-down:before {
  content: "\e9e4";
}
#wrap .bullet-sort-up:before {
  content: "\e9e5";
}
#wrap .bullet-split-call-arrows:before {
  content: "\e9e6";
}
#wrap .bullet-square-o:before {
  content: "\e9e7";
}
#wrap .bullet-stop-circle:before {
  content: "\e9e8";
}
#wrap .bullet-stop-circle-o:before {
  content: "\e9e9";
}
#wrap .bullet-swap-horizontal-orientation-arrows:before {
  content: "\e9ea";
}
#wrap .bullet-swap-vertical-orientation-arrows:before {
  content: "\e9eb";
}
#wrap .bullet-switch-to-full-screen-button:before {
  content: "\e9ec";
}
#wrap .bullet-switch-vertical-orientation-arrows:before {
  content: "\e9ed";
}
#wrap .bullet-synchronization-arrows:before {
  content: "\e9ee";
}
#wrap .bullet-synchronization-button-with-two-arrows:before {
  content: "\e9ef";
}
#wrap .bullet-synchronization-problem:before {
  content: "\e9f0";
}
#wrap .bullet-tab-symbol:before {
  content: "\e9f1";
}
#wrap .bullet-tick-inside-circle:before {
  content: "\e9f2";
}
#wrap .bullet-undo-button:before {
  content: "\e9f3";
}
#wrap .bullet-up-arrow-key:before {
  content: "\e9f4";
}
#wrap .bullet-upload-button:before {
  content: "\e9f5";
}
#wrap .bullet-verification-mark:before {
  content: "\e9f6";
}

/*-------------------------files------------------------------------*/



#wrap .file:before {
  content: "\e900";
}
#wrap .file-archive-o:before {
  content: "\e901";
}
#wrap .file-audio-o:before {
  content: "\e902";
}
#wrap .file-code-o:before {
  content: "\e903";
}
#wrap .file-excel-o:before {
  content: "\e904";
}
#wrap .file-image-o:before {
  content: "\e905";
}
#wrap .file-movie-o:before {
  content: "\e906";
}
#wrap .file-o:before {
  content: "\e907";
}
#wrap .file-pdf-o:before {
  content: "\e908";
}
#wrap .file-photo-o:before {
  content: "\e909";
}
#wrap .file-picture-o:before {
  content: "\e90a";
}
#wrap .file-powerpoint-o:before {
  content: "\e90b";
}
#wrap .files-o:before {
  content: "\e90c";
}
#wrap .file-sound-o:before {
  content: "\e90d";
}
#wrap .file-text:before {
  content: "\e90e";
}
#wrap .file-text-o:before {
  content: "\e90f";
}
#wrap .file-video-o:before {
  content: "\e910";
}
#wrap .file-word-o:before {
  content: "\e911";
}
#wrap .file-zip-o:before {
  content: "\e912";
}
#wrap .file-folder:before {
  content: "\e913";
}
#wrap .file-folder-o:before {
  content: "\e914";
}
#wrap .file-folder-open:before {
  content: "\e915";
}
#wrap .file-folder-open-o:before {
  content: "\e916";
}
