// main: main.less




/*----------------loops ----------------------*/




.calc_items1(1080px, 800px,580px, 6,items-dest, 250px, 100px, 4, 3, 2, 1, 3 );    //destacados home



//funcion contructora
//máximo numero de items, prefijo clase, ancho item, alto item,
//max items ancho a más de 992px, max items de 768px a 992px, max items menos de 768px, minimo items
.calc_items1(@screen1, @screen2, @screen3, @n, @prefix, @width, @height, @max1, @max2, @max3, @max4, @i: 1 ) when (@i =< @n) {



    & when (@i = @n) {                    // para que lo haga solo una vez
      @pref_size: "@{prefix}@{width}";   //string de prefijo+ancho item
      ul[class^= @{pref_size}], ul[class*= @{pref_size}] {   //estilos para el ul sea cual sea el numero de items
       display: block;
       float: left;
       margin: 0 auto;
       width: 100%;
       li  {
         display:block;
         float: left;
         margin-top:15px;
         margin-bottom: 15px;
         width: @width;
         height: @height;
       }
     }
    }


      .@{prefix}@{width}_@{i}  {  //string de prefijo+ancho+numero de items

        @media (min-width: (@screen1 + 1)){.screen-loop ( @n, @prefix, @width, @height, @max1)}
        @media (min-width: (@screen2 + 1)) and ( max-width: @screen1){.screen-loop ( @n, @prefix, @width, @height, @max2)}
        @media (min-width: (@screen3 + 1)) and (max-width: @screen2){.screen-loop ( @n, @prefix, @width, @height, @max3)}
        @media (max-width: @screen3){.screen-loop ( @n, @prefix, @width, @height, @max4)}

          .screen-loop ( @n, @prefix, @width, @height, @max) {

              @f: floor(@i/@max);           //divide numero items entre max fila. redondea abajo. obtiene numero filas completas
              @z: ((@f*@max) + 1);          //multiplica numero filas completas x max fila. +1. obtiene qué item salta a fila incompleta
              @u: (@i - (@max*@f));         //total items - (maximo por fila x numero filas ). obtiene numero items en fila incompleta
              @v: (@max - @u);              // maximo items por fila - resto. obtiene items que faltan en fila incompleta
              @g: (@max*@width)* 1px;  // numero max items x ancho. obtiene espacio ocupado por items en fila completa.

            //  .calc_f(padding-left, 50%, @g*0.4 );   //padding del ul. aplica un coeficiente para establecer lo que compensa el ul y cada li. REVISAR
            //  .calc_f(padding-right, 50%, @g*0.4);

               li {
                 .calc_f(margin-right, 100%/(@max*2), @width/2);  //establece margin a cada item
                 .calc_f(margin-left, 100%/(@max*2), @width/2);
                 &:nth-child( @{z}) {
                 .calc_f(margin-left, (100% * (@v+1))/(2 * @max) , @width/2);    //establece margin iquierdo al primer item que salta a fila incompleta.
                 }
          }
    }
}

  .calc_items1(@screen1, @screen2, @screen3,@n, @prefix, @width, @height, @max1, @max2, @max3, @max4, (@i  + 1));
}





//
