// main: main.less


/*-----------------------------------layout-----------------------------------------*/

html, body {
	height:100%;
	margin:0;
	width: 100%;
	background-color: @color8;
	}



body > #wrap{
  //  min-height: 100%;
	 // width:100%;
	//  min-width: @min-width;
  //  margin-bottom:-@alto-footer;
		width: 100%;
}



main {
	//margin-bottom: @alto-footer + 30px;

	width: 100%;
	.clearfix;
}


.prefooter {
    width: 100%;
		height: @alto-footer;
}


.footer {
	//  bottom: 0;
  //  height: @alto-footer;
    width: 100%;
}

/*------------hack para campatibilizar los anchos de pantalla de las media querys con los de javascript----------------*/


/*----------------------mixin layout columnas-----------------------*/

.columns_layout(@a,@b,@c) {
	   aside.aside_left {
			.make-md-column(@a);
			float:left;
			width: 100%;

   }
	 .main_column{
		  .make-md-column(@b);
			  float:left;
				width: 100%;
	 }
	 aside.aside_right {
			 .make-md-column(@c);
			 float:left;
			 width: 100%;
	}
}

/*--------------------------asignacion mixin por secciones-------------------------*/
.layout-0-24-0
{.columns_layout(0,24,0); }


.layout-0-18-6
{.columns_layout(0,18,6)}


.layout-0-16-8
{.columns_layout(0,16,8)}


.layout-6-18-0
{.columns_layout(6,18,0)}


.layout-5-14-5
{.columns_layout(5,14,5)}

/*-------------------------------franjas contenido------------------------------------*/

html .container-100 {
	width:100%;
	background-color: #fff;
	margin-top: -60px;
	padding-top: 90px;
}

main .container-100:first-child, #breadcrumb + .container-100 {
	margin-top: 0;
	padding-top: 30px;
}

.header_group {
	z-index: 5;
//	position: relative;
}

main {z-index: 1}

html .container {
//   width: 1260px;
}
html .container-fluid {
   max-width: @max-width;
	 min-width: @min-width;
	/* z-index: 10;*/
	 position: relative;
	 width:100%;
	 section {
	 	//width: 100%;
	 	background-color: #fff;
	 	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	 	margin: -20px -8px 0 -8px;
	 	padding: 10px 0 10px 0;
	 	border-radius: 12px;
	 	min-height: 200px;
	 	.clearfix;
		&.no_back {
			//width: 100%;
			background-color: transparent;
			box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			margin: 0;
			padding: 0;
			border-radius: 0;
			min-height: 200px;
			.clearfix;
		}
	 }
}
@media(max-width:@screen-xs) {
	html body div.container-fluid {padding: 0 10px}
}


@media(max-width: @screen-xxs){
	html body div.container-fluid {
		padding: 0;
		section {
			margin: -20px 0 0 0;
		}
	}
	html #wrap div.container-fluid {padding: 0; }
}



.container-100 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	.container-fluid section {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	background-color: transparent;
	margin: 0 0 30px 0;
	border-radius: 0;
}
	}








//
