// main: main.less

/*-------------------login--------------------*/


#login {
  @color_login: @gris7;
  margin: -340px auto 0 auto;
  position: relative;
  background-color: @color_login;
  padding: 0;
  max-width: 700px;
  min-height: auto;
  .h1_esp;
  h1{
    color: @color_login;
  }
  &:before{
      background-color: @color_login
  }
  .box_content {
       padding: 30px 60px;
      .form-group {
        label {.make-sm-column(8);}
        div {.make-sm-column(16);
         input {.sombra-int}
        }
      }
      .ayuda {
        margin-top: -10px;
        font-size: 14px;
        font-style: italic;
      }
      .botonera {text-align: right; margin: 15px 0 0 15px; .clearfix;}

  }

}
