// main: main.less



/*-------------------------menu principal horizontal-------------------------------*/

nav.navbar {
//	margin: 30px 0 0 0;
  width: 100%;
  border:none;
	background-color: transparent;
	z-index: 200;
  margin-bottom: 0;
  min-height: 30px;


   .navbar-toggle {
     float: right;
     margin: 5px 20px 5px 15px;
     padding: 4px;
     border: 2px solid #fff;
		// background-color: rgba(255, 255, 255, 0.5);
     .transition_efect;
     &:hover, &:focus {
       background-color: rgba(255, 255, 255, 0.7);
     }

     .icon-bar {
       width: 16px;
			 background-color: #fff;
        + .icon-bar {
          margin-top: 3px;
          // background-color:  @color2;
           + .icon-bar {
          //   background-color:  @color3;
           }
        }
     }
   }
   #navbar {
     position: absolute;
		 top:56px;
		 right:0;
		 //height: auto;
     background-color: fade(#000, 40%);
     overflow-x: visible;
		 overflow-y: visible;
     margin: 2px 0 0 0;
		 width: 220px;
		 box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
		 border:none;
		 z-index: 100;
		 padding: 0;

     ul.navbar-nav {
       margin: 0;
      // padding: 0 10px 0 2px;
       text-align: right;
		  	z-index: 100;
				height: 100%;


			li{
			    position: relative;
					padding: 0 8px 0 4px;
					line-height: 1em;
           .transition_efect;
          &:last-child a{border-bottom: none;}

          &:hover {background-color: @gris8;
             a {
                color: #000;
                .resplandor(0,0,0,0);
                &:before {
                  z-index: 200;
                  padding-left: 0;
              }

               }
          }
          a {
              padding: 8px 0;
              display: block;
              border-bottom: 1px dotted @gris4;
              color: #fff;
              text-transform: uppercase;
              font-family: @font-corporativa-headers-heavy;
              font-size: 14px;
              .resplandor(0,0,0,0.5);
              letter-spacing: 0.03em;
              &:before {
                &:extend(#wrap .bullet-caret-left:before);
                .icofont-bullet;
                color: @gris6;
                display: block;
                position: absolute;
                left: 0;
                line-height: 36px;
                top:0;
                text-align: left;
                width: 20px;
                padding-left: 2px

              }

             }

					>.sub-menu {

						  position: absolute;
					    top: 0;
							left: -239px;
							display: none;
					    margin-top: -6px;
					    margin-left: -1px;
              z-index: 1000;
							width: 240px;
							top: 7px;
						//	background-color: #fff;
							box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
              li {
               background-color: fade(#000, 30%);
                a{
                  color: #fff;
                  text-transform: none;
                  font-family: @font-corporativa-reg;
                //  font-size: 15px;
                &:before{  content: '';  }
                 }
               &:hover {
                 background-color:#fff;
                 a{color: #000;}
               }
                }
					}
			}


      &.colegiado {
        width: @ancho_m_col;
        right: -@ancho_m_col;
        background-color: @color1;
        position: absolute;
        top:0;
        li a {
          border-bottom: none;
          .resplandor(0,0,0,0);
          &:before {content: '';}
          }

      }
     } //ul.navbar-nav
  @media (max-width: @screen-is) {
    body.colegiado & {
        width:200px;
        ul.navbar-nav>li {
           >a {font-size: 13px}
           >.sub-menu {
               width: 180px;
               left: -180px;
           }
        }
      }
  }


    @media (max-width: @screen-s) {
        body.colegiado &  ul.navbar-nav>li {
         >a:before {content:''}
         >.sub-menu {
             display: none !important;
         }
         }
     }

     @media (max-width: @screen-xs) {
        width: 200px;
        ul.navbar-nav>li {
             >a {font-size: 13px}
             >.sub-menu {
                 width: 180px;
                 left: -180px;
             }
          }
     }

       @media (max-width: 400px) {
         right: -40%;

      //  position: relative;
         ul.navbar-nav>li {
           >a:before {content:''}
           >.sub-menu {
               display: none !important;
           }
           }
       }
   } //#navbar






} //nav.navbar




/*-----------------------------------------*/

#menu_completo {
  padding: 15px 15px 30px 15px;
  min-height: 200px;
  min-width: @min-width;
  h3 {
    color: #fff;
     margin: 0 0 8px 0;
     height: 40px;
     display: flex;
     align-content: flex-end;
     align-items: flex-end;
     flex-wrap: wrap;
     max-width: 150px;
   }
  >ul {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    > li{
      padding: 0 10px;
      float: left;
      line-height: 14px;

    //  max-width: 224px;
    a {
      color: #fff;
      font-family: @font-corporativa-sc-rg;
      padding: 6px 2px;
      display: inline-block;
      border-top: 1px dotted transparent;
      border-bottom: 1px dotted transparent;
      width: 100%;
      .transition_efect;
      &:hover{
    //    color: @color1;
      //  .dotted_bottom;
      //  .dotted_top;
    //  border-top: 1px dotted @gris6;
  //    border-bottom: 1px dotted @gris6;
      background-color: fade(#fff,10);
        }}
    }
    .transition_efect;
    &:hover {
      >li>ul>li:first-child a {
        border-top: 1px dotted @gris6;
        border-bottom: 1px dotted @gris6;
      }
      a {
          border-bottom: 1px dotted @gris6;
      }
    }
  }

    @media (max-width: 1200px) {
    //  padding-bottom: 0;
          > ul >li {
              width: 33%;
              max-width:inherit;
              margin-bottom: 25px;
            }
        }

        @media (max-width: @screen-is) {
          padding-bottom: 0;
              > ul >li {
                  flex-basis: 50%;
                //  max-width:inherit;
                //  margin-bottom: 25px;
                }
            }
            @media (max-width: @screen-xs) {
              padding: 15px 0;
                  > ul >li {
                    }
          }
}

body.colegiado #menu_completo {
  .clearfix;
  max-width: @screen-lg;
  margin: 0 auto;
  >ul>li {
    margin-bottom: 25px;
  }
   .menu_publico {
       .make-md-column(14);
       >li {width: 33%;}
   }
   .menu_colegiados {
       .make-md-column(10);
       background-color: @color1;
       >li {width: 50%}
   }
  @media (max-width: @screen-md) {
    .menu_colegiados >li {width: 33%;}
  }
}





/*--------------------camino de migas-------------------------*/

#breadcrumb {
    .layout-0-24-0;
  //  background-color: #fff;

  ul {

    margin: 0 0 20px 0;
    padding: 2px 15px 2px 0;
    border-top: 1px dotted @gris7;
    border-bottom: 1px dotted @gris7;
  //  border-radius: 0;
       @media (max-width: @screen-sm) {
         padding-left:0;
         margin: 12px 0 0 0;
       }
    li {
      margin:0;
      display: inline-block;
      padding:0;
      font-size: 16px;
      letter-spacing:@letter-spacing;
      font-family: @font-corporativa-sc-rg;
      a {
        font-family: @font-corporativa-sc-rg;
      //  color: #fff;
      }
      &:first-child {
        a {
          width: 15px;
          height: 12px;
          text-indent:-666em;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          position: relative;
          &::before {
            color: @color1;
            text-indent: 0;
            display: block;
            height: 18px;
            width: 15px;
           font-size: 0.9em;
           top: -3px;
           left: 0;
           .icofont;
            &:extend(#wrap .icon-home:before);
            position: absolute;
          }

        }


      }
    };

  > li + li:before {
   .icofont-bullet;
   padding: 0 3px 0 1px;
   color: #ccc;
  font-size: 0.7em;
    &:extend(#wrap .bullet-si-glyph-arrow-right:before);
}

}
}





/*-----------------------------menu contacto pie de pagina---------------------------------------*/
