// out: pruebas.css, sourcemap: false, compress: false


@maxi: 8;           //numero maximo i
.i-loop (@i) when (@i > 0) {

  @maxj: 8;              // numero maximo j
  .j-loop (@j) when (@j > 0) {

    .my-class-@{i}-@{j} {
      width: (100% / @i);
      height: (100% / @j);
    }

    .j-loop(@j - 1);
  }


  .j-loop (0) {}
  .j-loop(@maxj);

  .i-loop(@i - 1);
}

.i-loop (0) {}
.i-loop(@maxi);
