// main: main.less

/*-------------------servicios y empresas amigas--------------------*/


body.servicios main .container-fluid,
body.empresas main .container-fluid { z-index: 100; }

  #servicios, #empresas {
     .h1_esp;

		 body.servicios &, body.empresas & {
			 margin-top: -100px;}
		   padding: 15px 30px;
       z-index: 10;
       position: relative;

    > ul {
       list-style: none;
       display: flex;
       flex-wrap: wrap;
       width: 100%;
    >  li {
        list-style: none;
      //  flex-basis: 50%;
        width: 50%;

        margin: 0 0 15px 0;
        padding: 0 15px;
        display: flex;
        &[class^="icon-"]:before {
          display: block;
          .icofont;
          width: 90px;
          color: @gris3;
          text-align: center;
          font-size: 60px;
          padding: 15px 0 0 0;
        }
        figure {
          width:120px;
          text-align: center;
          padding-top: 25px;
          img {
            max-width: 100%;
          }
        }
        .detalle {
          padding: 8px 12px;
          width: 100%;
          h3 {
						margin: 0 0 8px 0;
					 a {font-family:@font-corporativa-med; }
					}
          p {font-family: @font-corporativa-med}
          .tags {
            &:before {display: none;}
          }
        }
        &.colegiado {
          &:before {color: @color1;}
        }
       }
        }


        .botonera {text-align: center; margin: 15px 0}

        @media (max-width: @screen-md) {
              padding: 15px 15px;
              >ul> li {
                  padding: 0 8px;
                }
            }

				@media (max-width: @screen-sm) {
							>ul> li {
									width: 100%;
								}
						}
				 @media (max-width: @screen-is) {
								> ul> li {padding: 0}
				 }

				 @media (max-width: @screen-s) {
							padding:15px;
				 }
         @media (max-width: @screen-sm) {
                h1 {font-size:35px; top:-29px}
         }
         @media (max-width: @screen-xs) {
               h1 {
                 top:-57px;
                 width: 320px;
                 text-overflow: inherit;
                line-height: 0.9em;
               }
         }
   }



   #resultados_pro {
     .clearfix;
         .lista_result {
           .make-is-column(10);
           padding-left: 0;
           ul.dotted_list li {
             .dotted_bottom;
             padding: 0 15px 4px 0;
             &:after {margin-bottom: 0}
             a {
               display: block;
               position: relative;
               &.activo:after{
                 display: inline-block;
                 position: absolute;
                 width: 20px;
                 right:8px;
                 top: 4px;
                 height: 10px;
                 color:@color1;
                 .icofont-bullet;
                 font-size: 18px;
                 line-height: 12px;
                 &:extend(#wrap .bullet-caret-right:before);
               }
             }
           }
         }
         .ficha_pro {
           .clearfix;
           .make-is-column(14);
           border:1px solid @gris6;
           background-color: @gris8;
           dl {
            &:extend(dl.definition_list_gen all);
             ul li {padding: 3px 0;}
           }
         }
   }


   #espacios {
     .layout-0-24-0;
     padding: 30px;
     ul li {
       .dotted_bottom;
       &:after {
         font-size: 12px;
         line-height: 4px;
         height: 6px;
         color: @gris3;
         margin: 15px 0;
       }
     }
   }












//
