// main: main.less

/*-----------------------------------variables----------------------------------------*/

@color1:          #aa1e32;  // rojo corporativo


@color2:          #00a8a3;  // azul

@color3:          #f7f7f7;  // gris 1
@color4:          #e5e5e3;  // gris 2
@color5:          #bfbeb6;  // gris 3
@color6:          #8e8d7d;  // gris 4
@color7:          #636257;  // gris 5
@color8:          #3a3a35;  // gris 6

@color1-inverso:  #fff;
@color2-inverso:  #fff;
@color3-inverso:  #fff;

@color2-texto:   @color1;
@color2-oscuro:  @color1;

@color1_hover: darken(@color1 , 20%);

@color_alert: #ea3d00;

@gray-base:        #040403;

@gris1:            lighten(@gray-base, 12%);
@gris2:            lighten(@gray-base, 20%);
@gris3:            lighten(@gray-base, 33%);
@gris4:            lighten(@gray-base, 50%);
@gris5:            lighten(@gray-base, 66%);
@gris6:            lighten(@gray-base, 80%);
@gris7:            lighten(@gray-base, 90%);
@gris8:            lighten(@gray-base, 94%);
@gris9:            lighten(@gray-base, 97%);
@gris10:           lighten(@gray-base, 99.3%);





@max-width:        @screen-lg; 
@min-width:        320px;

// @font-corporativa:'Helvetica35-Thin' ,'Helvetica35-thin-eu', "Helvetica Neue", Helvetica, sans-serif;
// @font-corporativa2:'HelveticaNeue-Thin' , "Helvetica Neue",'Helvetica35-thin-eu', Helvetica, sans-serif;
// @font-corporativa-ext-light: 'Helvetica43-ExtendedLight', "Helvetica Neue", Helvetica, sans-serif;
// @font-corporativa-ext: 'Helvetica53-Extended', "Helvetica Neue",'Helvetica35-thin-eu', Helvetica, sans-serif;
// @font-corporativa-ext-thin: 'Helvetica33-ExtendedThin','Helvetica35-thin-eu', "Helvetica Neue", Helvetica, sans-serif;




@font-corporativa-headers-light:'avenir_light',Helvetica, sans-serif;
@font-corporativa-headers-heavy:'avenir_heavy',Helvetica, sans-serif;
@font-corporativa-headers-light-italic:'avenir_light_italic',Helvetica, sans-serif;



@font-corporativa-light:'encode_sanslight', Helvetica, sans-serif;
@font-corporativa-reg:'encode_sansregular', Helvetica, sans-serif;
@font-corporativa-med:'encode_sansmedium', Helvetica, sans-serif;
@font-corporativa-sb:'encode_sanssemibold', Helvetica, sans-serif;
@font-corporativa-bold:'encode_sansbold', Helvetica, sans-serif;



@font-corporativa-ext: 'encode_sans_expandedregular', Helvetica, sans-serif;
@font-corporativa-ext-med: 'encode_sans_expandedmedium', Helvetica, sans-serif;


@font-corporativa-sc-lt: 'encode_sans_semi_condensedLt', Helvetica, sans-serif;

@font-corporativa-sc-rg: 'encode_sans_semi_condensedRg', Helvetica, sans-serif;
@font-corporativa-c-rg: 'encode_sans_condensedregular', Helvetica, sans-serif;

@font-corporativa-c-md: 'encode_sans_condensedmedium', Helvetica, sans-serif;
@font-corporativa-sc-md: 'encode_sans_semi_condensedmedium', Helvetica, sans-serif;



@letter-spacing:0;


// @font-general:   Verdana,Geneva,sans-serif;
@font-general:  @font-corporativa-reg;


@images: "../img";

@screen-xxs:390px;
@screen-xs:480px;
@screen-s:570px;
@screen-is:620px;
@screen-sm:768px;
@screen-md:992px;
@screen-lg:1260px;

#aux {overflow: hidden;}

@media (max-width: @screen-xxs)      {#aux div {width: 1px;}}
@media (min-width: @screen-xxs)      {#aux div  {width: @screen-xxs;}}
@media (min-width: @screen-xs)       {#aux div  {width: @screen-xs;}}
@media (min-width: @screen-is)       {#aux div  {width: @screen-is;}}
@media (min-width: @screen-sm)       {#aux div  {width: @screen-sm;}}
@media (min-width: @screen-md)       {#aux div  {width: @screen-md;}}
@media (min-width: @screen-lg)       {#aux div  {width: @screen-lg;}}
@media (min-width: @screen-lg + 1px) {#aux div  {width: @screen-lg + 1px;}}


//
