@font-face {
    font-family: 'encode_sanslight';
    src: url('../css/fonts/encode/orig/EncodeSans-Light.ttf') format('truetype'),
          url('../css/fonts/encode/encodesans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesans-light-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansregular';
    src: url('../css/fonts/encode/orig/EncodeSans-Regular.ttf') format('truetype'),
         url('../css/fonts/encode/encodesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesans-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'encode_sansmedium';
    src: url('../css/fonts/encode/orig/EncodeSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sanssemibold';
    src: url('../css/fonts/encode/orig/EncodeSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansbold';
    src: url('../css/fonts/encode/orig/EncodeSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'encode_sans_expandedregular';
    src: url('../css/fonts/encode/orig/EncodeSansExpanded-Regular.ttf') format('truetype'),
         url('../css/fonts/encode/encodesansexpanded-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesansexpanded-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesansexpanded-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'encode_sans_expandedmedium';
    src: url('../css/fonts/encode/orig/EncodeSansExpanded-Medium.ttf') format('truetype'),
         url('../css/fonts/encode/encodesansexpanded-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesansexpanded-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesansexpanded-medium-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}







@font-face {
    font-family: 'encode_sans_semi_condensedRg';
    src:  url('../css/fonts/encode/orig/EncodeSansSemiCondensed-Regular.ttf') format('truetype'),
          url('../css/fonts/encode/encodesanssemicondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesanssemicondensed-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesanssemicondensed-regular-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'encode_sans_condensedregular';
     src: url('../css/fonts/encode/orig/EncodeSansCondensed-Regular.ttf') format('truetype'),
          url('../css/fonts/encode/encodesanscondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesanscondensed-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesanscondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'encode_sans_condensedmedium';
     src: url('../css/fonts/encode/orig/EncodeSansCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_semi_condensedmedium';
     src: url('../css/fonts/encode/orig/EncodeSansSemiCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}







@font-face {
    font-family: 'encode_sans_semi_condensedLt';
    src: url('../css/fonts/encode/orig/EncodeSansSemiCondensed-Light.ttf') format('truetype'),
         url('../css/fonts/encode/encodesanssemicondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesanssemicondensed-light-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesanssemicondensed-light-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}








@font-face {
    font-family: 'encode_sans_semi_expandedMd';
    src:  url('../css/fonts/encode/orig/EncodeSansSemiExpanded-Medium.ttf') format('truetype'),
        url('../css/fonts/encode/encodesanssemiexpanded-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesanssemiexpanded-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesanssemiexpanded-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'encode_sans_semi_expandedRg';
    src:  url('../css/fonts/encode/orig/EncodeSansSemiExpanded-Regular.ttf') format('truetype'),
         url('../css/fonts/encode/encodesanssemiexpanded-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/encode/encodesanssemiexpanded-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/encode/encodesanssemiexpanded-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'avenir_light';
    src: url("../css/fonts/avenir/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
    font-family: 'avenir_heavy';
    src: url("../css/fonts/avenir/AvenirLTStd-Heavy.otf") format("opentype");
}

@font-face {
    font-family: 'avenir_light_italic';
    src: url("../css/fonts/avenir/AvenirLTStd-LightOblique.otf") format("opentype");
}


/*-------------------------------iconos--------------------------------------*/

@font-face {
    font-family: 'icon-coaatm';
    src:  url('../css/fonts/icon-coaatm.eot?oi28l8');
    src:  url('../css/fonts/icon-coaatm.eot?oi28l8#iefix') format('embedded-opentype'),
        url('../css/fonts/icon-coaatm.ttf?oi28l8') format('truetype'),
        url('../css/fonts/icon-coaatm.woff?oi28l8') format('woff'),
        url('../css/fonts/icon-coaatm.svg?oi28l8#icon-cooatm') format('svg');
  font-weight: normal;
  font-style: normal;
}



    @font-face {
      font-family: 'icofont-brands';
      src:  url('../css/fonts/brands.eot?99sfj0');
      src:  url('../css/fonts/brands.eot?99sfj0#iefix') format('embedded-opentype'),
        url('../css/fonts/brands.ttf?99sfj0') format('truetype'),
        url('../css/fonts/brands.woff?99sfj0') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'icofont-bullets';
      src:  url('../css/fonts/bullets.eot?rrj6z2');
      src:  url('../css/fonts/bullets.eot?rrj6z2#iefix') format('embedded-opentype'),
        url('../css/fonts/bullets.ttf?rrj6z2') format('truetype'),
        url('../css/fonts/bullets.woff?rrj6z2') format('woff');
      font-weight: normal;
      font-style: normal;
    }


    @font-face {
      font-family: 'icofont-files';
      src:  url('../css/fonts/files.eot?6t4a0v');
      src:  url('../css/fonts/files.eot?6t4a0v#iefix') format('embedded-opentype'),
        url('../css/fonts/files.ttf?6t4a0v') format('truetype'),
        url('../css/fonts/files.woff?6t4a0v') format('woff');
      font-weight: normal;
      font-style: normal;
    }
